# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# IDEA files
/.idea/
/out/
/*.iml

# VSCode files
/.vscode/

# Storage/log files
/data/
/config.json
/preferences.json
/*.log.*
/bin/

# Test sandbox files
src/test/data/sandbox/

# MacOS custom attributes files created by Finder
.DS_Store
docs/_site/
