// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Headings
h2, h3 {
  color: #e46c0a;
}

h2 {
  font-weight: bold;
}
h4, h5, h6 {
  font-weight: $font-weight-semibold;
}

// Bootstrap style alerts
.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  order-radius : $alert-border-radius;
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}

// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(color-level($value, $alert-bg-level), color-level($value, $alert-border-level), color-level($value, $alert-color-level));
  }
}

// Page breaks

@mixin page-break-before {
  @media print {
    break-before: page;
  }
}

@mixin page-break {
  @include page-break-before;
}

.page-new {
  @include page-break-before;
}

.post-content h2 {
  @media print {
    @include page-break-before;
    margin-top: 0; // We are starting a new page anyway
  }
}
