// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
h1 {
  font-size: 2rem !important;
  font-weight: 900;
  color: #111111;
}

h2, h3, h4, h5, h6 {
  color: #2d5959;
}

#table-of-contents {
  margin-top: 3rem !important;
}

.site-header {
  line-height: 5rem !important;
}

h1 {
  font-weight: 800;
  margin-top: 1rem !important;
}

h2 {
  font-weight: 900;
  margin-top: 6rem !important;
}

h3, h4 {
  font-weight: 800;
  margin-top: 6rem !important;
}

h4 {
  font-variant: all-small-caps;
}

body {
  color: #484a43;
}

p {
  margin-top: 1.25rem;
  line-height: 1.6rem;
}

strong {
  color: #408080;
  font-weight: bold;
}

blockquote {
  font-size: 14px;
}

img {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

code {
  color: #505959;
  background-color: rgba(51, 102, 102, 0.05);
  font-variant: none;
}

// Bootstrap style alerts
.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  border-radius : $alert-border-radius;
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}

// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(color-level($value, $alert-bg-level), color-level($value, $alert-border-level), color-level($value, $alert-color-level));
  }
}

