@font-face {
    -fx-font-family: QTAncientOlive-Bold;
    src: url('../font/QTAncientOlive-Bold.otf');
}

.background {
    -fx-background-color: white;
    background-color: white; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: black;
    -fx-opacity: 0.8;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: black;
    -fx-opacity: 0.8;
}

.label-header {
    -fx-font-size: 14pt;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.menu-item {
    -fx-background-color: #0072C6;
    -fx-border-radius: 0;
}
.menu-item:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
    -fx-border-radius: 0;
}

.label-subheader {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Bold";
    -fx-text-fill: grey;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: white;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: white;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: white;
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: white;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: white;
    -fx-border-radius: 0.1;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 1 0 1 0;
}

.list-cell:filled:even {
    -fx-background-color: #f7f7f7;
}

.list-cell:filled:odd {
    -fx-background-color: #f7f7f7;
}

.list-cell:filled:selected #cardPane {
    -fx-background-color: #b3d9ff;
    -fx-border-color: #0072C6;
    -fx-border-width: 0.1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 14px;
    -fx-text-fill: #9c9c9c;
}

.stack-pane {
    -fx-background-color: transparent;
}

.pane-with-border {
    /*outlook color*/
    -fx-background-color: #dbdbdb;
}

.status-bar {
    -fx-background-color: #0072C6;
}

.result-display {
    -fx-background-color: #f0f1f2;
    -fx-background-radius: 16px;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #5e5e5e;
    -fx-padding: 4px 4px 4px 4px;
}

#modHeader, #personHeader {
    /* color referenced from https://introjava.wordpress.com/2012/03/23/java-fx-2-linear-gradients/*/
    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
            linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%);
    -fx-background-radius: 14 14 0 0;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-padding: 2px;
}

.status-bar-with-border {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: white;
}

.context-menu {
    -fx-background-color: white;
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color: #0072C6;
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.menu .left-container {
    -fx-background-color: white;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #0072C6;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #0072C6;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #0072C6;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

#menuContainer {
    -fx-background-color: #0072C6;
}

#appLogo {
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-font-size: 20;
    -fx-font-family: QTAncientOlive-Bold;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #0072C6;
}

.dialog-pane > *.label.content {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: white;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#e6e6e6, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#adadad, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: white;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: black;
}

#commandTextField {
    -fx-pref-height: 30;
    -fx-padding: 5 5 5 5;
    -fx-background-color: #f0f1f2;
    -fx-background-insets: 0;
    -fx-border-color: grey;
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 12pt;
    -fx-text-fill: #383838;
    -fx-border-radius: 10, 10, 10, 10;
    -fx-background-radius: 10, 10, 10, 10;
}

#resultDisplay .content {
    -fx-background-color: #f0f1f2;
    -fx-background-radius: 0;
}

#interests {
    -fx-hgap: 10;
    -fx-vgap: 3;
}

#interests .label {
    -fx-text-fill: white;
    -fx-background-color: #0072C6;
    -fx-padding: 3 3 3 3;
    -fx-border-radius: 2;
    -fx-background-radius: 12, 12, 0, 0;
    -fx-font-size: 13;
    -fx-alignment: center;
}

#modCategory {
    -fx-background-radius: 16, 16, 0, 0;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-pref-width: 150px;
    -fx-font-size: 15;
}

#takenStatus {
    -fx-background-radius: 16, 16, 0, 0;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-pref-width: 70px;
    -fx-font-size: 14;
}
