// Adapted from
// https://www.michaelperrin.fr/blog/2019/11/printing-the-web-part-2-html-and-css-for-printing-books
// by Richard Domininck 2022
@page {
  size: A4;
  margin: 0.5in;

  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
  }

  @top-left {
    content: string(section_title);
  }
}

@media print {
  article.post {
    h2,
    h3 {
      string-set: section_title content();
      page-break-after: avoid;
    }
  }
}
