// Adapted from https://stackoverflow.com/a/51007932/9311854
#markdown-toc {
  counter-reset: item;

  ol {
    counter-reset: item;
  }

  > li,
  ol > li {
    counter-increment: item;
  }

  ol > li {
    display: block;
  }

  ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
  }
}

article.post {
  counter-reset: section;

  h2:not(.no_toc) {
    counter-reset: subsection;
  }

  h3:not(.no_toc) {
    counter-reset: subsubsection;
  }

  h2:not(.no_toc)::before {
    counter-increment: section;
    content: counter(section) ". ";
  }

  h3:not(.no_toc)::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ". ";
  }

  h4:not(.no_toc)::before {
    counter-increment: subsubsection;
    content: counter(section) "." counter(subsection) "." counter(subsubsection) ". ";
  }
}
