---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

html {
  scroll-behavior: smooth;
}

.icon {
    height: 21px;
    width: 21px
}

@media screen and (max-width: $on-palm) {
  .toc-button span {
    display: none;
  }

  .toc-button {
    padding: 6px;
  }
}

// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  display: inline-block;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Counter_Styles/Using_CSS_counters
body {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h4 {
  counter-reset: h5;
}

h5 {
  counter-reset: h6;
}

h2:before {
  content: counter(h2, decimal) ". ";
  counter-increment : h2;
}

h3:before {
  content: counter(h2, decimal) "." counter(h3, decimal) ". ";
  counter-increment: h3;
}

h4:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) ". ";
  counter-increment: h4;
}

h5:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) ". ";
  counter-increment: h5;
}


#markdown-toc, #markdown-toc ul {
  list-style-type: none;
  counter-reset: item;
  margin-left: 0;
}

// First Level
#markdown-toc > li {
  margin-left: 0;
}

// Second Level
#markdown-toc > li > ul > li {
  margin-left: 20px;
}

// Third Level
#markdown-toc > li > ul > li > ul > li {
  margin-left: 28px;
}

// Fourth Level
#markdown-toc > li > ul > li > ul > li > ul > li {
  margin-left: 34px;
}

// Fifth Level
#markdown-toc > li > ul > li > ul > li > ul > li > ul > li {
  margin-left: 42px;
}

#markdown-toc li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

.no-num:before, .no-num *:before {
  content : "";
  counter-increment : none;
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

.meaning-icons-container > ul li > img {
  vertical-align: text-top;
}
