---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

$light: #f2f3f4;

@import "bootstrap/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.icon {
    height: 21px;
    width: 21px
}

h2, h3, h4, h5, h6 {
  color: #e46c0a;
}

