---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.icon {
    height: 21px;
    width: 21px
}

/* Adapted from : https://www.w3schools.com/csSref/pr_gen_counter-reset.php */
/* Adapted from: https://github.com/shd101wyy/markdown-preview-enhanced/issues/1034 */

body {
    counter-reset: h2;
}

.index h2 {
    counter-reset: h3;
}

.index h3 {
    counter-reset: h4;
}

.index h4 {
    counter-reset: h5;
}

.index h5 {
    counter-reset: h6;
}

.index h2:before {
    counter-increment: h2;
    content: counter(h2) ". ";
}

.index h3:before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3) ". ";
}

.index h4:before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}

.index h5:before {
    counter-increment: h5;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}

.index h6:before {
    counter-increment: h6;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". ";
}

/* Adapted from: https://dev.to/adamlombard/css-automatically-number-nested-lists-59ei */

#markdown-toc, #markdown-toc ul {
    list-style-type: none;
    counter-reset: item;
}

#markdown-toc li {
    display: block
}

#markdown-toc li:before {
    counter-increment: item;
    content: counters(item, ".") ". ";
    color: #2a7ae2;
    font-weight: bold;
}
