---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.icon {
    height: 21px;
    width: 21px;
}

p, li {
  text-align: justify;
  text-justify: inter-character;
}

@media print {
  body {
    background-color: white;
  }
}
