---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

html {
  scroll-behavior: smooth;
}

.icon {
    height: 21px;
    width: 21px
}

// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  display: inline-block;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
