---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Counter_Styles/Using_CSS_counters
body {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h4 {
  counter-reset: h5;
}

h5 {
  counter-reset: h6;
}

h2:before {
  content: counter(h2, decimal) ". ";
  counter-increment : h2;
}

h3:before {
  content: counter(h2, decimal) "." counter(h3, decimal) ". ";
  counter-increment: h3;
}

h4:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) ". ";
  counter-increment: h4;
}

h5:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) ". ";
  counter-increment: h5;
}

h6:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) "." counter(h6, decimal) ". ";
  counter-increment: h6;
}

#markdown-toc, #markdown-toc ul {
  list-style-type: none;
  margin-left: 0;
}

// First Level
#markdown-toc > li {
  margin-left: 0;
}

// Second Level
#markdown-toc > li > ul > li {
  margin-left: 20px;
}

// Third Level
#markdown-toc > li > ul > li > ul > li {
  margin-left: 28px;
}

// Fourth Level
#markdown-toc > li > ul > li > ul > li > ul > li {
  margin-left: 34px;
}

// Fifth Level
#markdown-toc > li > ul > li > ul > li > ul > li > ul > li {
  margin-left: 42px;
}

.no-num:before {
  content : "";
  counter-increment : none;
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

.toc-button {
  height: 16px;
  padding: 6px 8px;
  background-color: rgba(12, 12, 12, 0.75);
  border-radius: 16px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

.toc-button:hover {
  background-color: rgba(12, 12, 12, 0.85);
}

.toc-button svg {
  height: 16px;
  width: 16px;
}

.toc-button span {
  margin-left: 4px;
  color: white;
  font-size: 0.875rem;
}

@media screen and (max-width: $on-palm) {
  .toc-button span {
    display: none;
  }

  .toc-button {
    padding: 6px;
  }
}
