#copyButton, #countMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#countMessageContainer {
    -fx-background-color: derive(#C6D8D3, 20%);
}
