@font-face {
    font-family: NotoSansRegular;
    src: url("Fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: NotoSansBold;
    src: url("Fonts/NotoSans-Bold.ttf");
}

@font-face {
    font-family: NotoSansSemiBold;
    src: url("Fonts/NotoSans-SemiBold.ttf");
}

@font-face {
    font-family: NotoSansLight;
    src: url("Fonts/NotoSans-Light.ttf");
}

/* The color palette is adopted from https://colorhunt.co/palette/1f1d363f3351864879e9a6a6 */

.background {
    -fx-background-color: #1F1D36;
    background-color: #1F1D36;
}

.root {
    -tab-text-color: #ffffff ;
}

.chart-plot-background {
   -fx-background-color: #1F1D36;
}

.label {
    -fx-font-size: 16px;
    -fx-font-family: "NotoSansSemiBold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 16px;
    -fx-font-family: "NotoSansSemiBold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32px;
    -fx-font-family: "NotoSansLight";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 16px;
    -fx-font-family: "NotoSansSemiBold";
}

/* Tab Pane */
.tab-label {
    -fx-text-fill: -tab-text-color ;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-font-size: 24px;
    -fx-padding: 8;
    -fx-border-width: 0 0 4 0;
}

.tab:hover {
    -fx-border-color: derive(#864879, 50%);;
    -fx-cursor: hand;
}

.tab:selected {
    -fx-border-color: #864879;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-background-color: #1F1D36;
}

.table-view {
    -fx-base: #1F1D36;
    -fx-control-inner-background: #1F1D36;
    -fx-background-color: #1F1D36;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 24px;
    -fx-font-family: "NotoSansLight";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #1F1D36;
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #1F1D36;
}

.list-view {
    -fx-background-insets: 8px;
    -fx-background-color: #1F1D36;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-background-insets: 8px;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-background-color: transparent;
}

.list-cell:filled {
    -fx-background-color: #3F3351;
    -fx-effect: innershadow(gaussian, #000000, 2, 2, 0, 0);
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-family: "NotoSansSemiBold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "NotoSansRegular";
    -fx-font-size: 12px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: #1F1D36;
}

.pane-with-border {
     -fx-background-color: #1F1D36;
     -fx-border-color: derive(#1F1D36, 10%);
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: #3F3351;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "NotoSansLight";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "NotoSansLight";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: #1F1D36;
    -fx-border-color: derive(#1F1D36, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: #1F1D36;
    -fx-border-color: derive(#1F1D36, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: #1F1D36;
}

.context-menu {
    -fx-background-color: #1F1D36;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #1F1D36;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "NotoSansLight";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.menu:hover, .menu-item  {
    -fx-background-color: #864879;
    -fx-cursor: hand;
}

.menu:showing {
    -fx-background-color: #864879;
}

/*
 * Metro style Push Button (Adapted)
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1F1D36;
    -fx-font-family: "NotoSansRegular";
    -fx-font-size: 16px;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #864879;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1F1D36;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1F1D36;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #864879;
}

.dialog-pane {
    -fx-background-color: #1F1D36;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1F1D36;
}

.dialog-pane > *.label.content {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #1F1D36;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#1F1D36, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1F1D36, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}
