@font-face {
    src: url("Fonts/Poppins-Regular.ttf");
}

@font-face {
    src: url("Fonts/Poppins-Bold.ttf");
}

@font-face {
    src: url("Fonts/Poppins-SemiBold.ttf");
}

@font-face {
    src: url("Fonts/Poppins-Light.ttf");
}

.root {
    /* Color theme adapted from https://colorhunt.co/palette/2c3333395b64a5c9cae7f6f2 */
    -pw-surface: #2C3333;
    -pw-primary: #395B64;
    -pw-secondary: #A5C9CA;
    -pw-light: #E7F6F2;

    -pw-white: #FFFFFF;
    -pw-black: #000000;
    -pw-error: #A13333;

    -pw-shadow-main: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 16, 0.5, 0.0, 0.0);
    -pw-shadow-light: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 16, 0.5, 0.0, 0.0);
}

.background {
    -fx-background-color: -pw-surface;
    background-color: -pw-surface;
}

.chart-plot-background {
   -fx-background-color: -pw-surface;
}

.label {
    -fx-font-size: 16px;
    -fx-font-family: "Poppins SemiBold";
    -fx-text-fill: -pw-black;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 16px;
    -fx-font-family: "Poppins SemiBold";
    -fx-text-fill: -pw-white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32px;
    -fx-font-family: "Poppins SemiBold";
    -fx-text-fill: -pw-white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 16px;
    -fx-font-family: "Poppins SemiBold";
}

/* Tab Pane */
.tab-label {
    -fx-text-fill: -pw-white;
    -fx-font-family: "Poppins SemiBold";
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-padding: 8;
    -fx-border-width: 0 0 4 0;
    -fx-border-color: transparent;
}

.tab:hover {
    /* Highlight the bottom border when the tab is hovered */
    -fx-border-color: -pw-secondary;
    -fx-cursor: hand;
}

.tab:selected {
    /* Highlight the bottom border when the tab is selected */
    -fx-border-color: -pw-light;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-background-color: -pw-surface;
}

.table-view {
    -fx-base: -pw-surface;
    -fx-control-inner-background: -pw-surface;
    -fx-background-color: -pw-surface;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 24px;
    -fx-font-family: "Poppins Light";
    -fx-text-fill: -pw-white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: -pw-surface;
    -fx-border-color: transparent transparent transparent -pw-light;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: -pw-surface;
}

.list-view {
    -fx-background-insets: 8px;
    -fx-background-color: -pw-surface;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-background-insets: 8px;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-padding: 4px;
    -fx-background-color: transparent;
}

.list-cell:filled {
    -fx-background-color: -pw-primary;
    -fx-effect: -pw-shadow-main;
}

.list-cell .label {
    -fx-text-fill: -pw-white;
}

.cell_big_label {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 16px;
    -fx-text-fill: -pw-white;
}

.cell_small_label {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 12px;
    -fx-text-fill: -pw-white;
}

.stack-pane {
     -fx-background-color: -pw-surface;
}

.pane-with-border {
     -fx-background-color: -pw-surface;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Poppins Light";
    -fx-font-size: 16px;
    -fx-text-fill: -pw-white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar {
    -fx-background-color: -pw-secondary;
}


.status-bar .label {
    -fx-font-family: "Poppins Light";
    -fx-text-fill: -pw-black;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: -pw-secondary;
    -fx-border-color: derive(-pw-surface, 20%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: -pw-black;
}

.grid-pane {
    -fx-background-color: -pw-surface;
    -fx-border-color: derive(-pw-surface, 20%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: -pw-surface;
}

.context-menu {
    -fx-background-color: -pw-surface;
}

.context-menu .label {
    -fx-text-fill: -pw-white;
}

.menu-bar {
    -fx-background-color: -pw-secondary;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Poppins Ligh"t;
    -fx-text-fill: -pw-black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: -pw-secondary;
}

.menu:hover, .menu-item:hover  {
    -fx-background-color: -pw-light;
    -fx-cursor: hand;
}

.menu-item {
    -fx-background-color: -pw-secondary;
}

.menu:showing {
    -fx-background-color: -pw-light;
}

/*
 * Metro style Push Button (Adapted)
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: derive(-pw-surface, 20%);
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: -pw-primary;
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 16px;
    -fx-text-fill: -pw-white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-effect: -pw-shadow-main;
}

.button:hover {
    -fx-background-color: -pw-secondary;
    -fx-text-fill: -pw-black;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: -pw-secondary;
  -fx-text-fill: -pw-black;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: -pw-secondary;
    -fx-text-fill: -pw-black;
}

.button:default {
    -fx-background-color: -pw-primary;
    -fx-text-fill: -pw-black;
}

.button:default:hover {
    -fx-background-color: -pw-secondary;
    -fx-text-fill: -pw-black;
}

.dialog-pane {
    -fx-background-color: -pw-surface;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: -pw-surface;
}

.dialog-pane > *.label.content {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -pw-white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: -pw-surface;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-fill: -pw-white;
    -fx-text-fill: -pw-white;
}

.scroll-bar {
    -fx-background-color: derive(-pw-surface, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(-pw-surface, 50%);
    -fx-background-insets: 2;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}
