.background {
    -fx-background-color: derive(#1d1d1d, 20%);
    background-color: #383838; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.active-label {
    -fx-background-color: derive(#1d1d1d, 15%);
}

.active-label .label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.active-student-label {
    -fx-background-color: #d2691e;
}

.active-tutor-label {
    -fx-background-color: #cd5c5c;
}

.active-class-label {
    -fx-background-color: #3e7b91;
}

.inactive-label {
    -fx-background-color: derive(#1d1d1d, 10%);
}

.inactive-label .label {
    -fx-font-family: "Segoe UI Semibold";
        -fx-font-size: 14px;
        -fx-text-fill: derive(#1d1d1d, 90%);
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-background-insets: 5;
    -fx-padding: 0;
    -fx-background-color: derive(#1d1d1d, 15%);
}

.list-cell {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 0;
    -fx-background-insets: 5;
}

.list-cell:filled:even {
    -fx-background-insets: 5;
    -fx-background-color: #3c3e3f;
}

.list-cell:filled:odd {
    -fx-background-insets: 5;
    -fx-background-color: #515658;
}

.list-cell:filled:selected {
    -fx-background-insets: 5;
    -fx-background-color: #424d5f;
}

.list-cell .label {
    -fx-text-fill: white;
}

.name-label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;
    -fx-text-fill: #010504;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.prefix-label {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: derive(#1d1d1d, 20%);
}

.pane-with-border {
     -fx-background-color: derive(#1d1d1d, 20%);
     -fx-border-color: derive(#1d1d1d, 10%);
     -fx-border-top-width: 1px;
     -fx-padding: 5;
}

.status-bar {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 11pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-padding: 0;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-padding: 0;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.menu {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-padding: 5;
}

.menu:hover {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.menu-item {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-padding: 5;
}

.menu-item:hover {
     -fx-background-color: derive(#1d1d1d, 50%);
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-background-color: #3a3a3a;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
}

.button:hover {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: derive(#1d1d1d, 50%);
  -fx-text-fill: #1d1d1d;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#title {
    -fx-font-size: 35px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: derive(#1d1d1d, 90%);
}
#entityDescriptionPanel {
    -fx-background-color: derive(#1d1d1d, 15%);
    -fx-background-radius: 5;
}

#entityDescription .label {
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

#entityList {
    -fx-background-color: derive(#1d1d1d, 15%);
    -fx-background-radius: 5;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: derive(#1d1d1d, 40%);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-accent: derive(#1d1d1d, 50%);
}

#commandBox {
    -fx-background-color: derive(#1d1d1d, 40%);
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: derive(#1d1d1d, 10%);
    -fx-background-radius: 0;
}

#resultDisplayHolder {
    -fx-background-color: derive(#1d1d1d, 10%);
    -fx-background-radius: 5;
}

#tags {
    -fx-hgap: 5;
    -fx-vgap: 0;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: derive(#1d1d1d, 10%);
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#classes {
    -fx-hgap: 5;
    -fx-vgap: 5;
}

#classes .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 5 1 5;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 12px;
    -fx-alignment: center;
}

#assignedClass {
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

#assignedClass .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center;
}

#studentDescriptionLabel {
    -fx-text-fill: white;
    -fx-background-color: #d2691e;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-padding: 1 3 1 3;
    -fx-font-size: 11;
}

#tutorDescriptionLabel {
    -fx-text-fill: white;
    -fx-background-color: #cd5c5c;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-padding: 1 3 1 3;
    -fx-font-size: 11;
}

#classDescriptionLabel {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-padding: 1 3 1 3;
    -fx-font-size: 11;
}

.studentColor {
    -fx-background-color: #d2691e;
}
