@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap');

.background {
    -fx-background-color: derive(#010101, 20%);
    background-color: #383838; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#010101, 20%);
    -fx-border-color: derive(#393d43, 20%);
    -fx-border-radius: 15;
    -fx-border-width: 5;
    -fx-background-radius: 15;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-border-color: derive(#010101, 20%);
    -fx-border-width: 10 10 10 10;
    -fx-border-radius: 15;
    -fx-background-color: #535d6d;
    -fx-background-insets: 10 10 10 10;
}

.list-cell:filled:odd {
    -fx-border-color: derive(#010101, 20%);
    -fx-border-width: 10 10 10 10;
    -fx-border-radius: 15;
    -fx-background-color: #535d6d;
    -fx-background-insets: 10 10 10 10;
}

.list-cell:filled:selected {
    -fx-background-color: #bbbbbb;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #bbbbbb;
    -fx-border-radius:15;
    -fx-border-width: 1;
}

.cell_big_label {
    -fx-font-family: "Figtree";
    -fx-font-weight: 600;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.cell_medium_label {
    -fx-font-family: "Figtree";
    -fx-font-size: 16px;
    -fx-font-weight:400;
    -fx-text-fill:  white;
}

.cell_small_label {
    -fx-font-family: "Figtree";
    -fx-font-size: 13px;
    -fx-font-weight:400;
    -fx-text-fill: white;
}

.stack-pane {
    -fx-background-color: #535d6d;;
    -fx-background-radius: 15;
}

.pane-with-border {
     -fx-background-color: derive(#010101, 20%);
     -fx-border-color: derive(#010101, 20%);
     -fx-border-top-width: 1px;
}

.field-pane-with-border {
    -fx-border-radius:15;
    -fx-border-width: 6;
    -fx-border-color: #535d6d;
    -fx-padding: 10 10 10 10;
    -fx-background-color: transparent;
}
.status-bar {
    -fx-background-color: derive(#010101, 20%);
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(black, 30%);
    -fx-border-color: derive(black, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.context-menu {
    -fx-background-color: derive(#393d43, 50%);
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color: derive(#393d43, 20%);
    -fx-border-radius: 15;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-font-weight: bold;
    -fx-text-fill: #737373;
    -fx-opacity: 1;
}

.menu-item:focused {
    -fx-background-color: #F6D2FF;
    -fx-focus-color: #F6D2FF;
}

.context-menu:focused {
    -fx-background-color:#3C3C3C;
    -fx-focus-color:#3C3C3C;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#7A7A7A, 20%);
    -fx-background-insets: 6;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.icon-button {
    -icon-paint: white;
    -fx-background-color: -icon-paint;
    -size: 13;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

#phoneIcon {
    -fx-shape: "M 13 1 a 1 1 0 0 1 1 -1 A 10.011 10.011 0 0 1 24 10 a 1 1 0 0 1 -2 0 a 8.009 8.009 0 0 0 -8 -8 A 1 1 0 0 1 13 1 Z m 1 5 a 4 4 0 0 1 4 4 a 1 1 0 0 0 2 0 a 6.006 6.006 0 0 0 -6 -6 a 1 1 0 0 0 0 2 Z m 9.093 10.739 a 3.1 3.1 0 0 1 0 4.378 l -0.91 1.049 c -8.19 7.841 -28.12 -12.084 -20.4 -20.3 l 1.15 -1 A 3.081 3.081 0 0 1 7.26 0.906 c 0.031 0.031 1.884 2.438 1.884 2.438 a 3.1 3.1 0 0 1 -0.007 4.282 L 7.979 9.082 a 12.781 12.781 0 0 0 6.931 6.945 l 1.465 -1.165 a 3.1 3.1 0 0 1 4.281 -0.006 S 23.062 16.708 23.093 16.739 Z m -1.376 1.454 s -2.393 -1.841 -2.424 -1.872 a 1.1 1.1 0 0 0 -1.549 0 c -0.027 0.028 -2.044 1.635 -2.044 1.635 a 1 1 0 0 1 -0.979 0.152 A 15.009 15.009 0 0 1 5.9 9.3 a 1 1 0 0 1 0.145 -1 S 7.652 6.282 7.679 6.256 a 1.1 1.1 0 0 0 0 -1.549 c -0.031 -0.03 -1.872 -2.425 -1.872 -2.425 a 1.1 1.1 0 0 0 -1.51 0.039 l -1.15 1 C -2.495 10.105 14.776 26.418 20.721 20.8 l 0.911 -1.05 A 1.121 1.121 0 0 0 21.717 18.193 Z ";
}

#homeworkIcon {
    -fx-shape: "M 18.656 0.93 L 6.464 13.122 A 4.966 4.966 0 0 0 5 16.657 V 18 a 1 1 0 0 0 1 1 H 7.343 a 4.966 4.966 0 0 0 3.535 -1.464 L 23.07 5.344 a 3.125 3.125 0 0 0 0 -4.414 A 3.194 3.194 0 0 0 18.656 0.93 Z m 3 3 L 9.464 16.122 A 3.02 3.02 0 0 1 7.343 17 H 7 v -0.343 a 3.02 3.02 0 0 1 0.878 -2.121 L 20.07 2.344 a 1.148 1.148 0 0 1 1.586 0 A 1.123 1.123 0 0 1 21.656 3.93 Z";
}

#attendanceIcon {
    -fx-shape: "M 19 2 H 18 V 1 a 1 1 0 0 0 -2 0 V 2 H 8 V 1 A 1 1 0 0 0 6 1 V 2 H 5 A 5.006 5.006 0 0 0 0 7 V 19 a 5.006 5.006 0 0 0 5 5 H 19 a 5.006 5.006 0 0 0 5 -5 V 7 A 5.006 5.006 0 0 0 19 2 Z M 2 7 A 3 3 0 0 1 5 4 H 19 a 3 3 0 0 1 3 3 V 8 H 2 Z M 19 22 H 5 a 3 3 0 0 1 -3 -3 V 10 H 22 v 9 A 3 3 0 0 1 19 22 Z";
}

#lessonPlanIcon {
    -fx-shape: "M 470.549 111.573 L 313.237 36.629 c -34.628 -20.684 -77.728 -21.051 -112.704 -0.96 L 41.451 111.573 c -0.597 0.299 -1.216 0.619 -1.792 0.96 c -37.752 21.586 -50.858 69.689 -29.272 107.441 c 7.317 12.798 18.08 23.284 31.064 30.266 l 43.883 20.907 V 375.68 c 0.026 46.743 30.441 88.039 75.072 101.931 c 31.059 8.985 63.264 13.384 95.595 13.056 c 32.326 0.362 64.531 -4 95.595 -12.949 c 44.631 -13.891 75.046 -55.188 75.072 -101.931 V 271.104 l 42.667 -20.395 v 175.957 c 0 11.782 9.551 21.333 21.333 21.333 c 11.782 0 21.333 -9.551 21.333 -21.333 v -256 C 512.143 145.615 492.363 122.473 470.549 111.573 Z M 384 375.787 c 0.011 27.959 -18.129 52.69 -44.8 61.077 c -27.046 7.728 -55.073 11.479 -83.2 11.136 c -28.127 0.343 -56.154 -3.408 -83.2 -11.136 c -26.671 -8.388 -44.811 -33.118 -44.8 -61.077 v -84.309 l 70.763 33.707 c 17.46 10.368 37.401 15.816 57.707 15.765 c 19.328 0.137 38.331 -4.98 54.976 -14.805 L 384 291.477 V 375.787 Z M 452.267 211.733 l -160.896 76.8 c -22.434 13.063 -50.241 12.693 -72.32 -0.96 l -157.419 -74.88 c -17.547 -9.462 -24.101 -31.357 -14.639 -48.903 c 3.2 -5.934 7.998 -10.853 13.85 -14.201 l 159.893 -76.373 c 22.441 -13.034 50.233 -12.665 72.32 0.96 l 157.312 74.944 c 11.569 6.424 18.807 18.555 18.965 31.787 C 469.354 193.441 462.9 205.097 452.267 211.733 L 452.267 211.733 Z";
}

#gradeIcon {
    -fx-shape: "M 23.836 8.794 a 3.179 3.179 0 0 0 -3.067 -2.226 H 16.4 L 15.073 2.432 a 3.227 3.227 0 0 0 -6.146 0 L 7.6 6.568 H 3.231 a 3.227 3.227 0 0 0 -1.9 5.832 L 4.887 15 L 3.535 19.187 A 3.178 3.178 0 0 0 4.719 22.8 a 3.177 3.177 0 0 0 3.8 -0.019 L 12 20.219 l 3.482 2.559 a 3.227 3.227 0 0 0 4.983 -3.591 L 19.113 15 l 3.56 -2.6 A 3.177 3.177 0 0 0 23.836 8.794 Z m -2.343 1.991 l -4.144 3.029 a 1 1 0 0 0 -0.362 1.116 L 18.562 19.8 a 1.227 1.227 0 0 1 -1.895 1.365 l -4.075 -3 a 1 1 0 0 0 -1.184 0 l -4.075 3 a 1.227 1.227 0 0 1 -1.9 -1.365 L 7.013 14.93 a 1 1 0 0 0 -0.362 -1.116 L 2.507 10.785 a 1.227 1.227 0 0 1 0.724 -2.217 h 5.1 a 1 1 0 0 0 0.952 -0.694 l 1.55 -4.831 a 1.227 1.227 0 0 1 2.336 0 l 1.55 4.831 a 1 1 0 0 0 0.952 0.694 h 5.1 a 1.227 1.227 0 0 1 0.724 2.217 Z";
}

#sessionIcon {
    -fx-shape: "M 12 9 C 17.934 8.844 17.933 0.155 12 0 c -5.934 0.156 -5.933 8.845 0 9 Z m 0 -7 c 3.286 0.059 3.285 4.942 0 5 c -3.285 -0.059 -3.285 -4.942 0 -5 Z m 10.204 9.162 c -1.143 -0.953 -2.64 -1.347 -4.099 -1.081 l -3.821 0.695 c -0.913 0.166 -1.707 0.634 -2.284 1.289 c -0.578 -0.655 -1.371 -1.123 -2.285 -1.289 l -3.821 -0.695 c -1.461 -0.264 -2.956 0.128 -4.098 1.081 c -1.142 0.953 -1.796 2.352 -1.796 3.839 v 2.793 c 0 2.417 1.727 4.486 4.106 4.919 l 6.284 1.143 c 1.068 0.194 2.151 0.194 3.219 0 l 6.285 -1.143 c 2.379 -0.433 4.105 -2.502 4.105 -4.919 v -2.793 c 0 -1.487 -0.654 -2.886 -1.796 -3.838 Z m -11.204 10.767 c -0.084 -0.012 -0.168 -0.026 -0.252 -0.041 l -6.284 -1.143 c -1.428 -0.26 -2.464 -1.501 -2.464 -2.952 v -2.793 c 0 -0.892 0.393 -1.731 1.078 -2.303 c 0.685 -0.573 1.59 -0.808 2.459 -0.648 l 3.821 0.695 c 0.952 0.173 1.642 1 1.642 1.968 v 7.217 Z m 11 -4.135 c 0 1.451 -1.036 2.692 -2.463 2.952 l -6.285 1.143 c -0.084 0.015 -0.168 0.029 -0.252 0.041 v -7.217 c 0 -0.967 0.69 -1.795 1.642 -1.968 l 3.821 -0.695 c 0.875 -0.16 1.774 0.077 2.46 0.648 c 0.685 0.572 1.077 1.411 1.077 2.303 v 2.793 Z";
}
#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent derive(#010101, 20%) transparent derive(#010101, 20%);
    -fx-background-insets: 0;
    -fx-border-color: #393d43 #393d43 #393d43 #393d43;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-font-family: "Figtree";
    -fx-font-weight: 400;
    -fx-font-size: 12pt;
    -fx-text-fill: #D4D4D4;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay{
    -fx-background-color: derive(#393d43, 20%);
    -fx-background-insets: 0, 0, 0, 0;
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 15px;
}

#resultDisplay .content {
    -fx-background-color: derive(#393d43, 20%);
    -fx-wrap-text: true;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #b28ec2;
    -fx-padding: 5 10 5 10;
    -fx-border-radius: 2;
    -fx-background-radius: 200;
    -fx-font-size: 13;
}
