.background {
    -fx-background-color: #ffffff;
    background-color: #ffffff;
}

*:disabled {
    -fx-opacity: 100;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 0 0 10 0;
    -fx-background-color: transparent;
}

.list-cell #moduleCardPane, #personCardPane {
    -fx-border-color: white;
    /*
     * Use this to add border for all panes, removed for now
     */
    -fx-border-width: 0;
    -fx-background-radius: 10;
}

.list-cell:filled:selected #moduleCardPaneardPane, #personCardPane {
    -fx-border-color: #3e7b91;
    /*
     * use this ot add border color to selected pane, removed for now
     */
    -fx-border-width: 0;
}

.list-cell:filled:even #moduleCardPane {
    -fx-background-color: #698f3f;
}

.list-cell:filled:odd #moduleCardPane {
    -fx-background-color: derive(#698f3f, 20%);
}

.list-cell:filled:selected:even #moduleCardPane {
    -fx-background-color: derive(#698f3f, 70%);
}

.list-cell:filled:selected:odd #moduleCardPane {
    -fx-background-color: derive(#698f3f, 70%);
}

.list-cell:filled:even #personCardPane {
    -fx-background-color: #804e49;
}

.list-cell:filled:odd #personCardPane {
    -fx-background-color: derive(#804e49, 30%);
}

.list-cell:filled:selected:even #personCardPane {
    -fx-background-color: derive(#804e49, 70%)
}

.list-cell:filled:selected:odd #personCardPane {
    -fx-background-color: derive(#804e49, 70%);
}

/*
 * CSS for all labels within card panels
 */

.list-cell .label {
    -fx-text-fill: #0a122a;
}

.list-cell .field_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #0a122a;
    -fx-font-weight: bold;
}


.list-cell .cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
}

.list-cell .cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
}


/*
 * General wrapper for every segment
 */
.borderless-pane {
    -fx-background-color: #0a122a;
    /*
     * Used for debugging, always set to same color as background color
     */
    -fx-border-color: transparent;
    -fx-padding: 0 10 20 10;
}

.stack-pane {
    -fx-background-color: transparent;
}


/*
 * Result of user command
 */
.result-display {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-text-fill: #0a122a;
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Light";
}

.result-display .scroll-pane {
    -fx-background: transparent;
}

.result-display .content {
    -fx-background-color: #e7decd;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 0px;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-padding: 10px;
}

.context-menu {
    -fx-background-color: #563d4d;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #0a122a;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #b0b0b0;
}

/*
 * Kept for the help button, to remove later on
 */

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

/*
 * unique CSS for the copy button, separate from the help button
 */
.copyButton {
    -fx-background-color: #3f6411;
    -fx-text-fill: white;
    -fx-font-size: 3;
    -fx-background-radius: 5em;
    -fx-translate-x: 3;
    -fx-min-height: 18;
    -fx-max-height: 18;
    -fx-min-width: 18;
    -fx-max-width: 18;
    -fx-border-width: 0;
    -fx-background-size: 5px;
}

.copyButton:hover {
    -fx-background-color: #67a616;
}

.copyButton:armed {
    -fx-background-color: #8ce719;
}

.scroll-bar {
    -fx-background-color: #0a122a;
    -fx-padding: 0 10 10 8;
}

.scroll-bar .thumb {
    -fx-background-color: #1d2646;
    -fx-background-insets: 3;
    -fx-font-size: 1;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTextField {
    -fx-background-color: #e7decd;
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #0a122a;
    -fx-prompt-text-fill: #736e6b;
    -fx-padding: 10px 15px;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}


#tags, #assignmentDetails {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label, #assignmentDetails .label {
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-translate-y: 5;
    -fx-background-radius: 3;
    -fx-font-size: 11;
}

#tags .label {
    -fx-text-fill: #e7decd;
    -fx-background-color: #723126;
}

#assignmentDetails .label {
    -fx-text-fill: #e7decd;
    -fx-background-color: #3f6411;
}
