@import "Font.css";

.background {
    -fx-background-color: #363636;
    background-color: #363636; /* Used in the default.html file */
}

.base {
    -fx-background-color: #363636;
}

.top {
    -fx-background-color: #363636;
}

.label {
    -fx-font-size: 11pt;
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-family: 'IBM Plex Sans SemiBold' !important;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0 3 0 6;
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 0;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 10 18 10 15;
    -fx-background-color: #141414;
    -fx-background-insets: 4 6 4 3;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 8, 0, 0, 0);
}

.list-cell:filled:selected {
    -fx-background-color: #2c2c2e;
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_company {
    -fx-font-family: 'IBM Plex Sans SemiBold';
    -fx-font-size: 20px;
    -fx-fill: white !important;
}

.cell_index {
    -fx-font-family: 'IBM Plex Sans SemiBold';
    -fx-font-size: 20px;
    -fx-text-fill: #AFAFAF !important;
}

.cell_button_link {
    -fx-background-color: transparent;
    -fx-font-family: 'IBM Plex Sans Text';
    -fx-font-size: 13px;
    -fx-text-fill: #0F8FFF;
    -fx-padding: 0;
}

.cell_button_link:hover {
    -fx-text-fill: #59CDFB;
}

.cell_button_link:armed {
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.6), 10, 0, 0, 0);
}

.cell_small_text {
    -fx-font-family: 'IBM Plex Sans Text';
    -fx-font-size: 13px;
    -fx-text-fill: white !important;
}

.cell_small_label {
    -fx-font-family: 'IBM Plex Sans SemiBold';
    -fx-font-size: 13px;
    -fx-text-fill: #AFAFAF !important;
}

#description {
    -fx-padding: 2 0 0 0;
}

.internship-list-background {
     -fx-background-color: white;
     -fx-border-width: 0;
}

.result-box-outer {
    -fx-background-color: #363636;
}

.result-display {
    -fx-background-color: #363636;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-font-family: 'IBM Plex Sans Text';
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-padding: 1 8 0 8;
}

.result-display .content {
    -fx-background-color: #363636;
    -fx-background-radius: 0;
}

#resultDisplay .scroll-bar {
    -fx-background-color: #363636;
    -fx-background-radius: 0;
}

#resultDisplay .scroll-bar .thumb {
    -fx-background-color: #545454;
    -fx-background-insets: 3;
}

.corner {
    -fx-background-color: #363636;
}

.context-menu {
    -fx-background-color: #3a3a3c;
}

.context-menu .label {
    -fx-text-fill: white;
}

.tooltip {
    -fx-font-size: 8pt;
    -fx-font-family: "IBM Plex Sans Text";
}

.menu-bar {
    -fx-background-color: #363636;
    -fx-selection-bar: #48484a;
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "IBM Plex Sans Text";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu-item:focused {
    -fx-background-color: #48484a;
}

.menu .left-container {
    -fx-background-color: black;
}

.dialog-pane {
    -fx-background-color: #363636;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #363636;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.list-view .scroll-bar {
    -fx-background-color: #1e1e1e;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: #373737;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.command-box-outer {
    -fx-background-color: #363636;
    -fx-padding: 4 0 0 0;
}

.command-box-inner {
    -fx-background-color: #363636;
    -fx-padding: 0 16 0 16;
}

#commandTextField {
    -fx-padding: 6 10 6 10;
    -fx-background-color: #363636;
    -fx-background-radius: 8;
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-font-family: 'IBM Plex Sans SemiBold';
    -fx-text-fill: white;
    -fx-background-color: #363638;
    -fx-padding: 3 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
    -fx-background-insets: 2 0 0 0;
}

.applicationStatus_label {
    -fx-font-family: 'IBM Plex Sans SemiBold';
    -fx-font-size: 18px;
    -fx-text-fill: white;
}
