.background {
    -fx-background-color: derive(#070f36, 20%);
    background-color: #383838; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semilight";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 20;
    -fx-border-width: 1;
    -fx-background-color: white;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: white;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #ffffff;
}

.list-cell:filled:odd {
    -fx-background-color: #d9d9d9;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #144073;
    -fx-border-width: 3;
    -fx-border-radius: 10;
}

/* Styling for non-graded cells */
.list-cell:filled:even #cardPane.not-graded {
    -fx-background-color: #ffbebe;
}

.list-cell:filled:odd #cardPane.not-graded {
    -fx-background-color: #f1a8a8;
}

.cell_big_label {
    -fx-font-family: "Impact";
    -fx-font-size: 16px;
    -fx-text-fill: #144073;
}

.cell_session_label {
    -fx-font-family: "Impact";
    -fx-font-size: 16px;
    -fx-text-fill: #7d6b49;
}

.cell_small_label {
    -fx-font-family: "Impact";
    -fx-font-size: 13px;
    -fx-text-fill: black;
}

.pane-with-border {
     -fx-background-color: #070f36;
}

.transparent-bg {
    -fx-background-color: transparent;
}

.student-title, .class-title {
    -fx-font-family: "Impact";
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-background-insets: 10;
    -fx-text-box-border: transparent;
}

.student-title .content{
    -fx-background-color: #acedd9;
    -fx-background-radius: 30 30 0 0;
}

.class-title .content{
    -fx-background-color: #a5dff0;
    -fx-background-radius: 30 30 0 0;
}

.student-title .scroll-pane .viewport, .class-title .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.student-title .content .text, .class-title .content .text{
    -fx-text-alignment: center;
}

.status-bar {
    -fx-background-color: derive(#070F37, 30%);
}

.result-display .label {
    -fx-text-fill: black !important;
}

.result-display {
    -fx-font-family: "Impact";
    -fx-text-fill: black;
    -fx-font-size: 17;
    -fx-background-insets: 10;
    -fx-text-box-border: transparent;
}

.result-display .content{
    -fx-background-color: #dedede;
}

.result-display .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.status-bar .label {
    -fx-font-family: "Impact";
    -fx-font-style: normal;
    -fx-font-weight: 300;
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#070f36, 30%);
}

.context-menu {
    -fx-background-color: white;
}

.context-menu .label {
    -fx-text-fill: white;
}

#buttonBar {
    -fx-background-color: derive(#EDA7A7, 20%);
}

#helpButton {
    -fx-font-size: 12pt;
    -fx-font-family: "Impact";
    -fx-font-style: normal;
    -fx-text-fill: black;
    -fx-font-weight: 300;
    -fx-padding: 5;
    -fx-background-color: transparent;
}
#helpButton:hover {
    -fx-background-color: #fe7f9c;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 20, 20;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-background-radius: 20;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #2a2a2a;
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: white;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#061037, 50%);
    -fx-background-insets: 3;
    -fx-background-radius: 10px;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #BCBCBC;
}

#commandTextField {
    -fx-background-color: #F8F8F8;
    -fx-background-insets: 0;
    -fx-font-family: 'Impact';
    -fx-font-style: normal;
    -fx-font-size: 13pt;
    -fx-text-fill: black;
    -fx-background-radius: 0 0 20 20;
}

#filterField, #studentListPanel, #studentWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#classes {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#classes .label {
    -fx-text-fill: white;
    -fx-background-color: #144073;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
