.name_label {
    -fx-font-size: 14pt;
    -fx-padding: 0 0 10 0;
}

#attendees {
    -fx-padding: 0 0 10 0;
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#attendees .label {
    -fx-text-fill: white;
    -fx-padding: 2 5 2 5;
    -fx-border-radius: 5;
    -fx-background-radius: 15;
    -fx-font-size: 13;
    -fx-background-color: rgb(23, 60, 120);
}
