.root {
    -fx-dark-default: #383838;
    -fx-dark-background-primary: #1d1d1d;
    -fx-dark-primary: #3e7b91;
    -fx-light-default: #e0e0e0;
    -fx-light-background-primary: #e8e8e8;
    -fx-light-primary: #d3ccea;
}

.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background-color: transparent;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.pending {
    -fx-background-color: #dddd00 !important;
}

.rejected {
    -fx-background-color: #dd0000 !important;
}

.accepted {
    -fx-background-color: #00dd00 !important;
}

.completed {
    -fx-background-color: #00dddd !important;
}

.bookmarked {
    -fx-background-color: #dd00dd !important;
}
