
.error {
    -fx-text-fill: #f80f0f !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #E1F4F3;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

#commandBox {
    -fx-border-color: #696969;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
