
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #1E2128;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab {
    -fx-background-color: #191B22;
    -fx-background-radius: 12 12 0 0;
    /* Offsets the spacing between the tab so the label is centered */
    -fx-padding: 0 10 0 5;
    /* Gives illusion of spacing between the tabs */
    -fx-background-insets: 0 5 0 0;
}

.tab:selected {
    -fx-background-color: #1E2128;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected .tab-label {
    -fx-text-fill: #D8D8D8;
}

.tab-label {
    -fx-text-fill: #49505A;
}
