@font-face {
    font-family: 'IBM Plex Sans Text';
    src: url('../fonts/IBMPlexSans-Text.ttf');
}

@font-face {
    font-family: 'IBM Plex Sans SemiBold';
    src: url('../fonts/IBMPlexSans-SemiBold.ttf');
}