#copyButton, #assessmentName, #assessmentWeightage, #assessmentTotalScore, #assessmentSubject, #studentClass,
#studentName {
    -fx-text-fill: white;
}

#errorMessage {
    -fx-text-fill: red;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-spacing: 5;
}




