#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#171923, 20%);
}

#helpMessageContainerVBox {
    -fx-background-color: derive(#171923, 20%);
}

#commandList, #descriptionList {
    -fx-background-color: derive(#171923, 20%);
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI";
    -fx-margin: 2px;
    -fx-padding: 5px;
}
