#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: #071330;
}

#helpMessage {
    -fx-background-color: #181b24;
    -fx-font-family: "Segoe UI Semibold";
}

.helpPara {
    -fx-background-color: dimgray;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Semibold";
}

#helpPara .content {
    -fx-background-color: transparent, #262e42, transparent, #262e42;
    -fx-background-radius: 0;
}
