#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: #FFB8B3;
}

#copyButton:hover {
    -fx-background-color: #FFDDDD;
}

#copyButton:armed {
    -fx-background-color: #FFB8B3;
}

#helpMessageContainer {
    -fx-background-color: #FFD7C0;
}
