#openButton,
#helpMessage {
  -fx-text-fill: white;
}

#openButton {
  -fx-background-color: dimgray;
}

#openButton:hover {
  -fx-background-color: gray;
}

#openButton:armed {
  -fx-background-color: darkgray;
}

#helpContainer {
  -fx-background-color: derive(#1d1d1d, 20%);
}
