#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color:gainsboro;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color:lightskyblue;

}
