.background {
    -fx-background-color: #fff;
    background-color: #fff; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Roboto";
    -fx-text-fill: #333;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Roboto";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #333;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Roboto";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #fff;
    -fx-control-inner-background: #fff;
    -fx-background-color: #fff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #333;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #fff;
    -fx-border-color: transparent transparent transparent #e0e0e0;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #fff;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #f8f8f8;
    -fx-border-width: 1;
    -fx-border-color: #e0e0e0;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #f4f4f4;
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

.list-cell:filled:odd {
    -fx-background-color: #eaeaea;
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

#personListView .list-cell:filled:selected {
    -fx-background-color: #ede7fb;
    -fx-border-color: #543cdf;
}

.list-cell .label {
    -fx-text-fill: #333;
}

.cell_big_label {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: #fff;
}

.pane-with-border {
     -fx-background-color: #fff;
     -fx-border-color: #fff;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: #fff;
}

.result-display {
    -fx-background-color: #fff;
    -fx-font-family: "Roboto";
    -fx-font-size: 13pt;
    -fx-text-fill: #333;
    -fx-border-width: 1;
    -fx-border-color: #d8d8d8;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Roboto Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: #fff;
}

.context-menu {
    -fx-background-color: #fff;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#9837d9, 20%);
}

.menu-bar-nav-button {
    -fx-height: 100%;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 16pt;
    -fx-text-fill: white;
    -fx-font-family: "Roboto Light";
    -fx-border-color: transparent transparent;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.menu-bar-nav-button:hover {
    -fx-background-color: derive(rgba(255,255,255,0.2), 20%);
}

.menu-bar-nav-button:default:hover {
    -fx-background-color: derive(rgba(255,255,255,0.2), 20%);
}

.menu-bar-nav-button:pressed, .menu-bar-nav-button:default:hover:pressed {
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-text-fill: #a0a0a0;
  }

.menu-bar-nav-button:focused {
    -fx-border-color: rgba(255,255,255,0.6), rgba(255,255,255,0.6);
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Roboto";
    -fx-text-fill: #333;
    -fx-opacity: 0.9;
}

#brandButton {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 10;
}

#brandButtonImage {
    /* add some drop shadow */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 23, 0, 0, 0);
    -fx-padding: 10;
}

#navbarButtonPane {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.button {
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.dialog-pane {
    -fx-background-color: #fff;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #fff;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #fff;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #fff;
    -fx-text-fill: #333;
}

.scroll-bar {
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-border-color: #d8d8d8;
    -fx-background-color: #f6f6f6;
}

.scroll-bar .thumb {
    -fx-background-color: #e4e4e4;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #fff;
    -fx-background-insets: 0;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #d8d8d8;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Roboto";
    -fx-font-size: 13pt;
    -fx-text-fill: #333;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: #fff, transparent, #fff, transparent;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #4737d9;
    -fx-padding: 2 3 2 3;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-font-size: 11;
}

.secondary-pane {
    -fx-background-color: #fff;
    -fx-padding: 10 5;
}

.reminder-card {
    -fx-padding: 10 6;
}

.reminder-description {
    -fx-font-size: 18px;
    -fx-text-fill: #333 !important;
    -fx-font-family: "Roboto";
    -fx-font-weight: 200;
}

.reminder-with {
    -fx-font-size: 12px;
    -fx-text-fill: rgb(108, 53, 122) !important;
    -fx-font-style: italic;
    -fx-font-family: "Roboto";
    -fx-font-weight: lighter;
}

.reminder-date {
    -fx-font-size: 12px;
    -fx-text-fill: #4e4e4e !important;
    -fx-font-family: "Roboto";
    -fx-font-weight: lighter;
}

.welcome-message {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 0;
}

.reminders-header {
    -fx-font-size: 18px;
    -fx-font-weight: 300;
    -fx-padding: 0 0 6 0;
}

.pane-header {
    -fx-font-family: "Roboto";
    -fx-font-weight: 700;
    -fx-font-size: 36px;
    -fx-padding: 10 0;
}

.pane-header-2 {
    -fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-font-size: 24px;
    -fx-padding: 10 0;
}

.target-person-card {
    -fx-background-color: #f8f8f8 !important;
}

.target-person-name {
    -fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-text-fill: #010504;
    -fx-font-size: 24px;
    -fx-padding: 8 0;
}

.target-person-tag-container {
    -fx-padding: 8 0;
}

.target-person-tag {
    -fx-font-family: "Roboto";
    -fx-font-weight: 300;
    -fx-text-fill: #010504;
    -fx-font-size: 14px;
}

.target-person-icon-container {
    -fx-padding: 0 8 0 0;
}

.target-person-details {
    -fx-padding: 8 0;
    -fx-font-family: "Roboto";
    -fx-font-weight: 300;
    -fx-text-fill: #010504;
    -fx-font-size: 16px;
}

.message-template-card {
    -fx-padding: 10 6;
}

.message-template-text {
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
}

.message-name-placeholder {
    -fx-font-style: italic;
    -fx-fill: #0009a6;
}