.background {
    -fx-background-color: "#FFFFFF";
    background-color: #FFFFFF; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Bold";
    -fx-text-fill: #444444;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Bold";
    -fx-text-fill: #444444;
    -fx-opacity: 1;
    -fx-padding: 5;
}

.label-header-italic {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Italic";
    -fx-text-fill: #444444;
    -fx-opacity: 1;
    -fx-padding: 5;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane > .tab-header-area {
  -fx-padding: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
  -fx-background-color: #E1E1E1, white;
  -fx-background-insets: 0, 0 0 0px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
  -fx-background-color: white;
  -fx-background-insets: 0 0 0px 0;
  -fx-padding: 0.5em 1em;
}

.tab-pane > .tab-header-area > .headers-region > .tab >.tab-container >.tab-label {
  -fx-text-fill: #aaaaaa;
  -fx-font-size: 12pt;
  -fx-font-family: "Segoe UI Bold";
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
  -fx-background-color: white, #48C9B0;
  -fx-background-insets: 0, 32px 7px 0px 7px;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.tab-label {
  -fx-text-fill: #333333;
  -fx-font-size: 12pt;
  -fx-font-family: "Segoe UI Bold";
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.focus-indicator {
  -fx-opacity: 0;
}

.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Bold";
    -fx-text-fill: #444444;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #eaeaea;
    -fx-border-width: 1px;
    -fx-border-insets: 15px 5px;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}

.split-pane {
    -fx-border-radius: 15px;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-insets: 5;
    -fx-padding: 5;
    -fx-background-color: derive(#ffffff, 20%);
}

.list-cell {
    -fx-label-padding: 5 5;
    -fx-graphic-text-gap : 5;
    -fx-padding: 5px;
    -fx-background-radius: 15px;
    -fx-background-insets: 3px;
    -fx-border-radius: 15px;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 15, 0, 0, 0);
}

.list-cell:filled:even {
    -fx-background-color: #ffffff;
}

.list-cell:filled:odd {
    -fx-background-color: #ffffff;
}

.list-cell:filled:selected {
    -fx-background-color: #fcfcff;
    -fx-border-radius: 17px;
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent #48c9b0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 2, 2);
}

.list-cell:filled:selected #cardPane {
}

.list-cell:filled:selected #apptCardPane {
}

.list-cell .label {
    -fx-text-fill: #222222;
}

.cell_big_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_bigger_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: #ffffff;
}

.pane-without-border {
     -fx-background-color: #ffffff;
     -fx-border-color: derive(#eeeeee, 50%);
     -fx-border-width: 0px;
}

.pane-with-border {
     -fx-background-color: #ffffff;
     -fx-border-color:#cccccc transparent;
     -fx-border-width: 1px;
     -fx-border-radius: 0;
}

.pane-with-shadow {
     -fx-background-color: derive(dddddd, 50%);
     -fx-background-radius: 10px;
     -fx-border-color: derive(#cccccc, 50%);
     -fx-border-width: 0px;
     -fx-border-radius: 15px;
     -fx-effect: innershadow(gaussian, #bbbbbb, 15, 0, 0, 0);
}

.pane-transparent {
    -fx-background-color: transparent;
}

.status-bar {
    -fx-background-color: derive(#ffffff, 30%);
}

.result-display {
    -fx-background-color: #ffffff;
    -fx-font-family: "Droid Sans Mono";
    -fx-font-size: 10pt;
    -fx-text-fill: #444444;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Droid Sans Mono";
    -fx-text-fill: #888888;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#ffffff, 30%);
    -fx-border-color: derive(#eeeeee, 25%);
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
}

.status-bar-with-border .label {
    -fx-text-fill: #888888;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
}

.grid-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-border-radius: 15px;
}


.context-menu {
    -fx-background-color: derive(#ffffff, 10%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: "#a2e8dc";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 20, 0, 0, 0);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #444444;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #ffffff;
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #eeeeee;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0, 0);
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #888888;
    -fx-text-fill: #ffffff;
}

.button:focused {
    -fx-border-color: #dddddd;
    -fx-border-width: 1, 1;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #ffffff;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #ffffff;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #ffffff;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #444444;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#ffffff, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: #444444;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#ffffff, 20%);
    -fx-background-insets: 3;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 2, 2);
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}


#cardPane {
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #222222;
}

#commandTextField {
    -fx-background-color: derive(#ffffff, 20%);
    -fx-background-insets: 0;
    -fx-border-color: #383838 #383838 #454545 #383838;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-border-radius: 15px;
    -fx-font-family: "Droid Sans Mono";
    -fx-font-size: 13pt;
    -fx-text-fill: #222222;
    -fx-effect: innershadow(gaussian, #cccccc, 7, 0, 0, 0);
}

#filterField, #patientListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, #cccccc, 10, 0, 0, 0);
}
#resultDisplay {
    -fx-background-color: #ffffff;
}

#resultDisplay .content {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: innershadow(gaussian, #cccccc, 10, 0, 0, 0);
}
#sendButton {
    -fx-padding: 5 22 5 22;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #48C9B0;
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#sendButton:hover {
    -fx-background-color: #75d6c4;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 7, 0, 1, 1);
}

#sendButton:pressed, #sendButton:default:hover:pressed {
    -fx-background-color: #3ac4a9;
    -fx-text-fill: #ffffff;
    -fx-effect: innershadow(gaussian, #666666, 7, 0, 0, 0)
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
