.pic {
    -fx-background-image: url("../images/light.jpg");

    -fx-background-size: contain;
}

.list-view {
    -fx-background-insets: 10;
    -fx-padding: 10 10 10 10;
    -fx-background-color: rgba(0,0,255,0);
}



.list-cell:filled:even {

    -fx-background-color: rgba(192,192,192,0);
    -fx-background-radius: 20;
    -fx-padding: 15 10 10 10;
}

.list-cell:filled:odd {
     -fx-background-color: rgba(192,192,192,0);
        -fx-background-radius: 20;
        -fx-padding: 15 10 10 10;
}

.list-cell:filled:selected {
     -fx-background-color: rgb(255,255,255,0);
     -fx-background-radius: 20;
     -fx-padding: 15 10 10 10;

}



.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: black;
}

.stack-pane {
     -fx-background-color:rgb(255,255,255,0.7);
     -fx-background-radius:20;
     -fx-text-filled:black;
}

.pane-with-border {
     -fx-background-color: rgb(255,255,255,0.7);
     -fx-border-color: rgb(255,255,255,0.7);
     -fx-border-top-width: 10;
     -fx-text-filled:black;
}
.commandTextField{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: black;
}


.pane-with-border {
     -fx-background-color: rgb(192,192,192,0);
     -fx-border-color: rgb(192,192,192,0);
     -fx-border-top-width: 0;
}

.status-bar {
    -fx-background-color: rgb(255,255,255,0.7);
}

.result-display {
    -fx-background-color: rgb(255,255,255,0.7);
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: rgb(192,192,192,0.5);
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: rgba(192,192,192,0);
    -fx-border-color: rgba(192,192,192,0);
    -fx-border-width: 100px;
}

.status-bar-with-border .label {
    -fx-text-fill: rgba(192,192,192,0);
}

.grid-pane {
    -fx-background-color: rgba(192,192,192,0);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: rgba(192,192,192,0);
}

.context-menu {
    -fx-background-color: 	rgb(255,255,255,0.5);
    -fx-background-radius:10;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
   -fx-background-color: 	rgb(255,255,255,0.5);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: rgba(192,192,192,0);
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: white;
}

.dialog-pane {
    -fx-background-color: rgba(192,192,192,0,7);
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: rgba(192,192,192,0.7);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: black;
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-background-color: 	rgb(255,255,255,0.3);
    -fx-background-radius:3;
}

.scroll-bar .thumb {
    -fx-background-color: 	rgb(255,255,255,0.7);
    -fx-background-insets: 3;
    -fx-background-radius:3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: 	rgb(255,255,255,0.7);
    -fx-background-radius:20;

}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: black;
}

#commandTextField {
    -fx-background-color: rgb(192,192,192,0);
    -fx-background-radius: 20;
    -fx-border-radius:20;
    -fx-background-insets: 0;
    -fx-border-color: rgb(192,192,192,0);
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color:rgb(192,192,192,0.7);
    -fx-background-radius: 20;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}
#date {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
#date .label {
    -fx-text-fill: white;
    -fx-background-color: #3d85c6;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

