* {
    -bg-color: white;
    -font-color: #37352F;
    -border-color: #9B9A97;
    -cell-color-even: white;
    -cell-even-selected: #CECDCA;
    -menu-bg: #EBECED;
    -cell-odd-selected: #9B9A97;
    -cell-label-red: #FBE4E4;
    -cell-label-blue: #DDEBF1;
    -cell-label-green: #DDEDEA;
    -notion-blue: #0B6E99;
    -notion-green: #0F7B6C;
}

.background {
    -fx-background-color: derive(#FFFFFF, 20%);
    background-color: #FFFFFF; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Quicksand Bold";
    -fx-text-fill: -font-color;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Quicksand Bold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Quicksand";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Quicksand Bold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #FFFFFF;
    -fx-control-inner-background: #FFFFFF;
    -fx-background-color: #FFFFFF;
    -fx-table-cell-border-color: -border-color;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #FFFFFF;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Quicksand";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -bg-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#FFFFFF, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#FFFFFF, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#FFFFFF, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-border-color: transparent transparent -border-color transparent;
}

.list-cell:filled:even {
    -fx-background-color: -cell-color-even;
}

.list-cell:filled:odd {
    -fx-background-color: -cell-color-even;
}

.list-cell:filled:selected {
    -fx-background-color: -bg-color;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #37352F;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: -font-color;
}

.cell_big_label {
    -fx-font-family: "Quicksand Bold";
    -fx-font-size: 16px;
    -fx-text-fill: -font-color;
}

.cell_small_label {
    -fx-font-family: "Quicksand";
    -fx-font-size: 13px;
    -fx-text-fill: -font-color;
}

.cell_checkbox {
    -fx-padding: 0 20 0 0;
}

.table_header {
    -fx-border-color: transparent transparent -border-color transparent;
    -fx-font-size: 13px;
    -fx-font-family: "Quicksand Bold";
}

.stack-pane {
     -fx-background-color: derive(#FFFFFF, 20%);
}

.pane-with-border {
     -fx-background-color: derive(#FFFFFF, 20%);
     -fx-border-color: derive(#FFFFFF, 10%);
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(#FFFFFF, 30%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Quicksand";
    -fx-font-size: 13pt;
    -fx-text-fill: -font-color;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Quicksand";
    -fx-text-fill: -font-color;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#FFFFFF, 30%);
    -fx-border-color: derive(#FFFFFF, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: -font-color;
}

.grid-pane {
    -fx-background-color: derive(#FFFFFF, 30%);
    -fx-border-color: derive(#FFFFFF, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#FFFFFF, 30%);
}

.context-menu {
    -fx-background-color: derive(#FFFFFF, 50%);
}

.context-menu .label {
    -fx-text-fill: -font-color;
}

.menu-bar {
    -fx-background-color: -menu-bg;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Quicksand";
    -fx-text-fill: -font-color;
    -fx-opacity: 0.9;
}

.menu-bar .filterLabel {
    -fx-font-size: 14pt;
    -fx-font-family: "Quicksand SemiBold";
    -fx-text-fill: -font-color;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.menu-button:hover {
     -fx-background-color: -cell-even-selected;
}

.menu-button:armed {
    -fx-font-family: "Quicksand Bold";
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: -border-color;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Quicksand", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: -font-color;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #CECDCA;
    -fx-font-family: "Quicksand Bold"
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: -font-color;
  -fx-font-family: "Quicksand Bold"
}

.button:focused {
    -fx-border-color: -border-color, -border-color;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: -font-color;
}

.button:default {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: -font-color;
}

.button:default:hover {
    -fx-background-color: derive(#CECDCA, 30%);
}

.dialog-pane {
    -fx-background-color: #FFFFFF;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #FFFFFF;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -font-color;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#FFFFFF, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: -font-color;
}

.scroll-bar {
    -fx-background-color: derive(#FFFFFF, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: -cell-even-selected;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: -font-color;
}

#commandTextField {
    -fx-background-color: transparent transparent transparent transparent;
    -fx-background-insets: 0;
    -fx-border-color: -border-color -border-color -border-color -border-color;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-font-family: "Quicksand Bold";
    -fx-font-size: 13pt;
    -fx-text-fill: -font-color;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 5;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: -font-color;
    -fx-background-color: -cell-label-green;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.pane-with-border .custom-menu-item > .label {
    -fx-pref-width: 100;
}
