.pic {
    -fx-background-image: url("../images/sky.jpg");

    -fx-background-size: contain;
}
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: rgb(128,128,128);
    -fx-background-color:rgb(128,128,128);
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        rgb(192,192,192,0);
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: rgb(192,192,192,0);
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: rgb(192,192,192,0);
    -fx-border-color: rgb(192,192,192,0);
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: rgb(192,192,192,0);
}




.list-view {
    -fx-background-insets: 10;
    -fx-padding: 10;
    -fx-background-color: rgb(192,192,192,0);
}

.list-cell {
    -fx-background-color:  rgb(128,128,128,0);
    -fx-label-padding: 10;
    -fx-graphic-text-gap : 0;
    -fx-padding: 15 10 10 10;
}

.list-cell:filled:odd #cardPane {
    -fx-background-color:  rgb(255,255,255,0.3);
    -fx-background-radius :20;
}
.list-cell:filled:even #cardPane {
    -fx-background-color:  rgb(255,255,255,0.6);
    -fx-background-radius :20;
}

.list-cell:filled:selected #cardPane {
    -fx-background-color: rgb(255,255,255,0.9);
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
    -fx-border-radius:20;

}

.list-cell .label {
    -fx-text-fill: black;
}


.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: black;
}

.stack-pane {
     -fx-background-color: rgb(192,192,192,0);
}

.pane-with-border {
     -fx-background-color: rgb(192,192,192,0);
     -fx-border-color: rgb(192,192,192,0);
     -fx-border-top-width: 0;
}

.status-bar {
    -fx-background-color:rgb(0,0,0,0.5);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}


.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color:rgb(0,0,0,0.5);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color:rgb(192,192,192,0);
    -fx-border-color: rgb(192,192,192,0);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: rgb(192,192,192,0);

}

.context-menu {
    -fx-background-color:  rgb(255,255,255,0.6);
    -fx-background-radius:20;
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color:  rgb(255,255,255,0.6);
    -fx-background-radius:10;
}

.menu-bar .label {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.scroll-bar {
    -fx-background-color:  rgb(255,255,255,0.4);
    -fx-background-radius:10;
}

.scroll-bar .thumb {
    -fx-background-color:  rgb(255,255,255,0.7);
    -fx-background-radius:10;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;

    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: black;
}

#commandTextField {
    -fx-background-color: rgb(255,255,255,0.4);
    -fx-background-radius:20;
    -fx-background-insets: 0;

    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: rgb(128,128,128);
    -fx-background-radius: 20;
}
#resultDisplay{
    -fx-background-color: rgb(128,128,128);
    -fx-background-radius: 20;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.text-input{
    -fx-background-color:rgb(255,255,255,0.7);

    -fx-text-fill: black;
}
.text-input-label{
    -fx-text-fill: black;
}
.cover {
    -fx-background-color:rgb(195,195,195,0);
}
.cover2 {
    -fx-background-color:transparent;
    -fx-opacity:0.7;
    -fx-control-inner-background: transparent;
}
.cover2 > .corner {
      -fx-background-color: black;
}
.cover2 .scroll-bar{
    -fx-background-color:black;
}
.select {
    -fx-text-filled:black;
    -fx-text-fill:black;
    -fx-font-size: 13px;
}
