#refreshButton, #statisticsMessage {
    -fx-text-fill: white;
}

#refreshButton {
    -fx-background-color: dimgray;
}

#refreshButton:hover {
    -fx-background-color: gray;
}

#refreshButton:armed {
    -fx-background-color: darkgray;
}

#statisticsMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
