.background {
    -fx-background-color: derive(#CCCCCC, 20%);
    background-color: #CCCCCC;
    /* Used in the default.html file */
}

/* common */
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label_big {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #202632;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.stack-pane {
    -fx-background-color: transparent;
}

.grid-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.grid-pane .stack-pane {
    -fx-background-color: transparent;
}

/* list */
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 10;
    -fx-background-color: transparent;
}

.list-cell:filled:selected {
    -fx-background-color: transparent;
}

.list-cell:filled:selected #cardPane {
    -fx-border-width: 0;
}

.list-cell .label {
    -fx-text-fill: #202632;
}

.scroll-bar {
    -fx-background-color: rgba(46, 74, 138, 0.5);
}

.scroll-bar .thumb {
    -fx-background-color: rgba(46, 74, 138, 0.8);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

/* menu bar */
.menu-bar {
    -fx-background-color: #2e4a8a;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: transparent;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.context-menu {
    -fx-background-color: #2e4a8a;
}

.menu-item .label {
    -fx-text-fill: white;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed,
.button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled,
.button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane>*.button-bar>*.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane>*.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

/* command panel*/
.pane-with-border {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-radius: 5;
}

.text-area {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 16px;
    -fx-background-color: white;
    -fx-padding: 0 5 0 5;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-highlight-fill: rgba(46, 74, 138, 0.3);
    -fx-text-box-border: transparent;
    -fx-text-fill: #202632;
    -fx-background-radius: 0;
}

.text-area .content {
    -fx-background-color: white;
    -fx-padding: 0 5 0 5;
}

.text-area:focused .content {
    -fx-background-color: transparent;
    -fx-padding: 0 3 0 5;
}

/* status bar */
.status-bar {
    -fx-background-color: derive(#2e4a8a, 50%);
}

.status-bar .label {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

/* patient card */
.attribute_label {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 13px;
    -fx-text-fill: #202632;
}

.attribute_label_light {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 13px;
    -fx-text-fill: white;
}

.attribute_header_border {
    -fx-background-color: #2a67d1;
    -fx-padding: 3;
    -fx-border-radius: 2;
    -fx-background-radius: 5;
}

/* truncated card */
.task_number_label_border {
    -fx-background-color: #2154ad;
    -fx-padding: 3;
    -fx-border-radius: 2;
    -fx-background-radius: 5;
}

.task_number_label_border_round {
    -fx-background-color: #2154ad;
    -fx-padding: 3;
    -fx-border-radius: 2;
    -fx-background-radius: 10;
}

/* unique elements */
#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTextField {
    -fx-background-color: rgba(46, 74, 138, 0.3);
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 16px;
    -fx-prompt-text-fill: #6e6e6e;
    -fx-text-fill: #202632;
}

#tags {
    -fx-hgap: 5;
    -fx-vgap: 3;
}

#tags .label {
    -fx-wrap-text: true;
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
    -fx-max-width: 160;
}