#tipsHeader {
    -fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.headerContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#gridPane {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.tipContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.indexText {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.tipText {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
