@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.background {
    -fx-background-color: derive(#1d1d1d, 20%);
    background-color: #383838; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Poppins";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 13pt;
    -fx-font-family: "Poppins";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #FFF2E7;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #707BE3;
    -fx-border-width: 0;
    -fx-font-family: "Poppins";
}

.cell_big_label_item {
    -fx-font-family: "Poppins";
    -fx-font-size: 22px;
    -fx-font-weight: 700;
    -fx-text-fill: #FFEDEC;
}

.cell_small_label_item {
    -fx-font-family: "Poppins";
    -fx-font-size: 18px;
    -fx-font-weight: 600;
    -fx-text-fill: #FFEDEC;
}

.item_id {
    -fx-font-size: 56px !important;
    -fx-font-family: "Poppins";
    -fx-font-weight: 700;
    -fx-text-fill: #FFEDEC;
}

.cell_big_label_order {
    -fx-font-family: "Poppins";
    -fx-font-size: 56px;
    -fx-font-weight: 700;
    -fx-text-fill: #E9EBFF;
}

.cell_small_label_order {
    -fx-font-family: "Poppins";
    -fx-font-weight: 600; /* medium weight */
    -fx-font-size: 18px;
    -fx-text-fill: #E9EBFF;
}

/** color of the `Enter command here...`*/
.stack-pane {
    -fx-background-color: #E8E8E8;
    -fx-background-radius: 10px;
    -fx-border-color: #878787;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.pane-with-border {
    -fx-background-color: #FFF2E7;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #FFF2E7;
}

.status-bar {
    -fx-background-color: #FFF2E7;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: #E8E8E8;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: #E9EBFF;
}

.context-menu .label {
    -fx-text-fill: #FFFFFF;
}

.menu-bar {
    -fx-background-color: #3C3C3C;
    -fx-selection-bar:#707BE3;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Poppins";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.menu-item:focused {
    -fx-background-color:#707BE3;
    -fx-focus-color: #707BE3;
}

.context-menu {
    -fx-background-color:#3C3C3C;
    -fx-focus-color:#3C3C3C;
}

.menu .left-container {
    -fx-background-color: #FFF2E7;
}

.inventory-heading {
    -fx-font-size: 28pt;
    -fx-font-family: "Poppins";
    -fx-text-fill: #FF6C64;
    -fx-font-weight: 900;
    -fx-opacity: 1;
    -fx-padding: 2px;
}

.order-heading {
    -fx-font-size: 28pt;
    -fx-font-family: "Poppins";
    -fx-text-fill: #707BE3;
    -fx-font-weight: 900;
    -fx-opacity: 1;
    -fx-padding: 2px;
}

.ordered-items-container {
    -fx-background-color: #FFFFFF20;
    -fx-background-radius: 10px;
}

.ordered-items-content {
    -fx-font-family: "Poppins";
    -fx-font-weight: 700; /* medium weight */
    -fx-font-size: 22px;
    -fx-text-fill: #D9DCFF !important;
}

.quantity-row {
    -fx-background-color: #FFF2E7;
    -fx-background-radius: 50;
    -fx-padding: 4 12 6 12;
    -fx-background-insets: 2 3 4 3;
}

.costPrice-container {
    -fx-background-color: #FFD9D6;
    -fx-background-radius: 50;
    -fx-padding: 4 12 6 12;
    -fx-background-insets: 2 3 4 3;
}

/**
 * Icons from SVG file format
 */

#personIcon {
    -fx-shape: "M 2213.06 2248.84 L 37.1172 2248.84 C 17.4219 2248.84 1.44922 2232.87 1.44922 2213.17 L 1.44922 2009.9 C 1.44922 1671.71 276.582 1396.58 614.77 1396.58 L 1635.41 1396.58 C 1973.6 1396.58 2248.73 1671.71 2248.73 2009.9 L 2248.73 2213.17 C 2248.73 2232.87 2232.76 2248.84 2213.06 2248.84 Z M 1125.09 1300.68 C 766.488 1300.68 474.75 1008.94 474.75 650.34 C 474.75 291.742 766.488 0 1125.09 0 C 1483.69 0 1775.43 291.742 1775.43 650.34 C 1775.43 1008.94 1483.69 1300.68 1125.09 1300.68 Z M 1125.09 1300.68 M 2213.06 2248.84 L 37.1172 2248.84 C 17.4219 2248.84 1.44922 2232.87 1.44922 2213.17 L 1.44922 2009.9 C 1.44922 1671.71 276.582 1396.58 614.77 1396.58 L 1635.41 1396.58 C 1973.6 1396.58 2248.73 1671.71 2248.73 2009.9 L 2248.73 2213.17 C 2248.73 2232.87 2232.76 2248.84 2213.06 2248.84 Z M 1125.09 1300.68 C 766.488 1300.68 474.75 1008.94 474.75 650.34 C 474.75 291.742 766.488 0 1125.09 0 C 1483.69 0 1775.43 291.742 1775.43 650.34 C 1775.43 1008.94 1483.69 1300.68 1125.09 1300.68 Z M 1125.09 1300.68";
}

#timeCreatedIcon {
    -fx-shape: "M233.004,0C104.224,0,0,104.212,0,233.004c0,128.781,104.212,233.004,233.004,233.004c128.782,0,233.004-104.212,233.004-233.004C466.008,104.222,361.796,0,233.004,0z M244.484,242.659l-63.512,75.511c-5.333,6.34-14.797,7.156-21.135,1.824c-6.34-5.333-7.157-14.795-1.824-21.135l59.991-71.325V58.028c0-8.284,6.716-15,15-15s15,6.716,15,15v174.976h0C248.004,236.536,246.757,239.956,244.484,242.659z"
}

#addressIcon {
    -fx-shape: "M 2219.042969 969.605469 C 1887.125 657.507812 1555.476562 345.492188 1224.09375 33.554688 C 1217.238281 28.40625 1210.027344 23.8125 1202.46875 19.769531 C 1194.910156 15.726562 1187.085938 12.285156 1179 9.4375 C 1170.914062 6.59375 1162.65625 4.378906 1154.230469 2.796875 C 1145.804688 1.214844 1137.308594 0.28125 1128.742188 0 C 1121.097656 -0.402344 1115.0625 0 1113.855469 0 C 1106.027344 0.429688 1098.28125 1.46875 1090.613281 3.121094 C 1082.949219 4.773438 1075.460938 7.015625 1068.152344 9.851562 C 1060.839844 12.6875 1053.800781 16.078125 1047.023438 20.027344 C 1040.25 23.976562 1033.828125 28.429688 1027.757812 33.394531 C 696.242188 345.707031 364.550781 657.777344 32.6875 969.605469 C 28.8125 973.152344 25.285156 977.011719 22.097656 981.183594 C 18.910156 985.355469 16.117188 989.777344 13.710938 994.445312 C 11.308594 999.113281 9.335938 1003.957031 7.792969 1008.976562 C 6.25 1013.996094 5.160156 1019.109375 4.523438 1024.320312 C 4.574219 1025.953125 4.660156 1027.582031 4.78125 1029.207031 C 4.90625 1030.835938 5.066406 1032.460938 5.261719 1034.078125 C 5.457031 1035.699219 5.691406 1037.3125 5.960938 1038.921875 C 6.226562 1040.53125 6.53125 1042.136719 6.875 1043.730469 C 7.214844 1045.328125 7.589844 1046.914062 8.003906 1048.492188 C 8.414062 1050.070312 8.863281 1051.640625 9.34375 1053.199219 C 9.828125 1054.757812 10.34375 1056.304688 10.898438 1057.839844 C 11.449219 1059.375 12.035156 1060.898438 12.65625 1062.40625 C 13.277344 1063.917969 13.933594 1065.410156 14.621094 1066.890625 C 15.308594 1068.371094 16.027344 1069.835938 16.78125 1071.28125 C 17.535156 1072.730469 18.320312 1074.160156 19.140625 1075.570312 C 19.957031 1076.984375 20.804688 1078.375 21.6875 1079.75 C 22.566406 1081.125 23.476562 1082.476562 24.417969 1083.808594 C 25.359375 1085.144531 26.332031 1086.453125 27.332031 1087.742188 C 28.332031 1089.03125 29.359375 1090.296875 30.417969 1091.542969 C 31.476562 1092.785156 32.558594 1094.003906 33.671875 1095.199219 C 34.78125 1096.390625 35.921875 1097.5625 37.085938 1098.703125 C 38.25 1099.847656 39.441406 1100.964844 40.65625 1102.054688 C 41.867188 1103.144531 43.109375 1104.203125 44.371094 1105.238281 C 45.632812 1106.273438 46.917969 1107.277344 48.226562 1108.253906 C 49.53125 1109.230469 50.859375 1110.175781 52.210938 1111.09375 C 53.5625 1112.011719 54.929688 1112.894531 56.320312 1113.75 C 57.710938 1114.605469 59.121094 1115.429688 60.546875 1116.21875 C 61.972656 1117.011719 63.417969 1117.769531 64.878906 1118.496094 C 66.339844 1119.222656 67.816406 1119.917969 69.308594 1120.578125 C 70.800781 1121.238281 72.308594 1121.863281 73.828125 1122.457031 C 75.347656 1123.050781 76.878906 1123.609375 78.425781 1124.132812 C 79.972656 1124.65625 81.527344 1125.144531 83.09375 1125.597656 C 84.664062 1126.050781 86.238281 1126.472656 87.824219 1126.855469 C 89.410156 1127.238281 91.007812 1127.582031 92.609375 1127.894531 C 94.210938 1128.207031 95.816406 1128.480469 97.433594 1128.71875 C 99.046875 1128.960938 100.664062 1129.160156 102.289062 1129.328125 C 107.421875 1128.621094 112.441406 1127.4375 117.351562 1125.78125 C 122.257812 1124.121094 126.96875 1122.019531 131.480469 1119.46875 C 135.992188 1116.921875 140.226562 1113.972656 144.179688 1110.625 C 148.132812 1107.277344 151.738281 1103.585938 154.992188 1099.554688 C 211.320312 1037.195312 579.042969 683.953125 1098.847656 187.484375 C 1103.507812 183.519531 1108.738281 180.566406 1114.539062 178.632812 C 1117.335938 177.460938 1120.238281 176.707031 1123.246094 176.363281 C 1126.257812 176.023438 1129.253906 176.109375 1132.242188 176.621094 C 1136.132812 177.351562 1139.828125 178.644531 1143.324219 180.496094 C 1146.824219 182.347656 1149.96875 184.675781 1152.761719 187.484375 C 1672.6875 683.953125 2040.289062 1037.355469 2096.617188 1099.71875 C 2099.871094 1103.746094 2103.476562 1107.4375 2107.429688 1110.785156 C 2111.382812 1114.132812 2115.617188 1117.082031 2120.128906 1119.632812 C 2124.640625 1122.179688 2129.351562 1124.28125 2134.257812 1125.941406 C 2139.167969 1127.597656 2144.1875 1128.78125 2149.320312 1129.488281 C 2150.945312 1129.328125 2152.566406 1129.128906 2154.179688 1128.890625 C 2155.796875 1128.65625 2157.40625 1128.382812 2159.011719 1128.074219 C 2160.613281 1127.765625 2162.207031 1127.421875 2163.796875 1127.042969 C 2165.382812 1126.664062 2166.960938 1126.246094 2168.53125 1125.796875 C 2170.101562 1125.34375 2171.660156 1124.859375 2173.207031 1124.335938 C 2174.753906 1123.816406 2176.289062 1123.257812 2177.808594 1122.667969 C 2179.332031 1122.078125 2180.839844 1121.453125 2182.332031 1120.792969 C 2183.828125 1120.132812 2185.304688 1119.441406 2186.769531 1118.71875 C 2188.230469 1117.992188 2189.675781 1117.234375 2191.105469 1116.441406 C 2192.535156 1115.652344 2193.945312 1114.828125 2195.335938 1113.976562 C 2196.726562 1113.121094 2198.097656 1112.234375 2199.449219 1111.320312 C 2200.800781 1110.402344 2202.132812 1109.457031 2203.441406 1108.480469 C 2204.75 1107.503906 2206.035156 1106.5 2207.300781 1105.464844 C 2208.5625 1104.433594 2209.800781 1103.371094 2211.019531 1102.28125 C 2212.234375 1101.191406 2213.425781 1100.074219 2214.589844 1098.929688 C 2215.753906 1097.785156 2216.894531 1096.617188 2218.007812 1095.421875 C 2219.117188 1094.226562 2220.203125 1093.007812 2221.261719 1091.765625 C 2222.320312 1090.519531 2223.347656 1089.253906 2224.347656 1087.960938 C 2225.347656 1086.671875 2226.320312 1085.359375 2227.261719 1084.027344 C 2228.203125 1082.691406 2229.113281 1081.335938 2229.992188 1079.960938 C 2230.875 1078.585938 2231.722656 1077.191406 2232.539062 1075.78125 C 2233.355469 1074.367188 2234.140625 1072.933594 2234.894531 1071.484375 C 2235.648438 1070.039062 2236.367188 1068.570312 2237.054688 1067.089844 C 2237.742188 1065.609375 2238.394531 1064.113281 2239.011719 1062.601562 C 2239.632812 1061.09375 2240.21875 1059.570312 2240.769531 1058.03125 C 2241.316406 1056.496094 2241.832031 1054.945312 2242.316406 1053.386719 C 2242.796875 1051.824219 2243.242188 1050.253906 2243.652344 1048.675781 C 2244.0625 1047.09375 2244.433594 1045.503906 2244.773438 1043.90625 C 2245.109375 1042.308594 2245.414062 1040.707031 2245.679688 1039.09375 C 2245.945312 1037.484375 2246.175781 1035.867188 2246.367188 1034.246094 C 2246.5625 1032.625 2246.71875 1031 2246.835938 1029.371094 C 2246.957031 1027.746094 2247.039062 1026.113281 2247.085938 1024.480469 C 2246.511719 1019.25 2245.46875 1014.109375 2243.957031 1009.066406 C 2242.445312 1004.023438 2240.492188 999.160156 2238.097656 994.472656 C 2235.703125 989.785156 2232.902344 985.351562 2229.703125 981.171875 C 2226.5 976.992188 2222.945312 973.136719 2219.042969 969.605469 Z M 2035.179688 1286.234375 L 2035.179688 2152.84375 C 2035.085938 2154.433594 2034.949219 2156.015625 2034.773438 2157.597656 C 2034.601562 2159.179688 2034.390625 2160.753906 2034.136719 2162.324219 C 2033.886719 2163.894531 2033.597656 2165.457031 2033.269531 2167.015625 C 2032.941406 2168.570312 2032.578125 2170.117188 2032.175781 2171.65625 C 2031.773438 2173.195312 2031.332031 2174.722656 2030.855469 2176.242188 C 2030.378906 2177.757812 2029.863281 2179.261719 2029.316406 2180.753906 C 2028.765625 2182.246094 2028.175781 2183.722656 2027.554688 2185.1875 C 2026.933594 2186.652344 2026.273438 2188.097656 2025.582031 2189.53125 C 2024.886719 2190.960938 2024.160156 2192.375 2023.398438 2193.769531 C 2022.636719 2195.167969 2021.839844 2196.542969 2021.007812 2197.898438 C 2020.179688 2199.257812 2019.320312 2200.59375 2018.425781 2201.910156 C 2017.527344 2203.222656 2016.601562 2204.515625 2015.644531 2205.785156 C 2014.6875 2207.054688 2013.699219 2208.300781 2012.683594 2209.523438 C 2011.664062 2210.746094 2010.617188 2211.941406 2009.539062 2213.109375 C 2008.460938 2214.28125 2007.359375 2215.425781 2006.226562 2216.542969 C 2005.09375 2217.660156 2003.933594 2218.746094 2002.75 2219.808594 C 2001.5625 2220.867188 2000.351562 2221.898438 1999.117188 2222.898438 C 1997.878906 2223.898438 1996.621094 2224.871094 1995.335938 2225.808594 C 1994.054688 2226.75 1992.75 2227.65625 1991.421875 2228.53125 C 1990.09375 2229.410156 1988.746094 2230.25 1987.375 2231.0625 C 1986.007812 2231.871094 1984.621094 2232.648438 1983.214844 2233.390625 C 1981.808594 2234.132812 1980.382812 2234.839844 1978.941406 2235.511719 C 1977.5 2236.1875 1976.046875 2236.824219 1974.574219 2237.425781 C 1973.101562 2238.027344 1971.613281 2238.59375 1970.113281 2239.121094 C 1968.617188 2239.652344 1967.105469 2240.144531 1965.582031 2240.601562 C 1964.054688 2241.054688 1962.523438 2241.476562 1960.976562 2241.855469 C 1959.433594 2242.234375 1957.882812 2242.578125 1956.320312 2242.882812 C 1954.761719 2243.191406 1953.191406 2243.457031 1951.617188 2243.683594 C 1950.042969 2243.914062 1948.464844 2244.105469 1946.882812 2244.253906 C 1945.300781 2244.40625 1943.714844 2244.519531 1942.125 2244.59375 C 1940.535156 2244.667969 1938.945312 2244.703125 1937.355469 2244.699219 C 1935.765625 2244.699219 1934.175781 2244.65625 1932.589844 2244.574219 L 1388.242188 2244.574219 L 1388.242188 1600.613281 C 1388.238281 1599.511719 1388.210938 1598.414062 1388.15625 1597.316406 C 1388.097656 1596.21875 1388.015625 1595.125 1387.90625 1594.03125 C 1387.796875 1592.9375 1387.660156 1591.847656 1387.5 1590.757812 C 1387.335938 1589.671875 1387.144531 1588.589844 1386.929688 1587.511719 C 1386.714844 1586.433594 1386.472656 1585.363281 1386.203125 1584.296875 C 1385.9375 1583.230469 1385.640625 1582.171875 1385.320312 1581.121094 C 1385 1580.070312 1384.65625 1579.027344 1384.285156 1577.992188 C 1383.914062 1576.957031 1383.515625 1575.933594 1383.09375 1574.917969 C 1382.671875 1573.902344 1382.226562 1572.898438 1381.757812 1571.90625 C 1381.285156 1570.914062 1380.792969 1569.933594 1380.273438 1568.964844 C 1379.753906 1567.996094 1379.210938 1567.039062 1378.644531 1566.097656 C 1378.082031 1565.15625 1377.492188 1564.226562 1376.882812 1563.3125 C 1376.269531 1562.398438 1375.636719 1561.5 1374.980469 1560.617188 C 1374.328125 1559.734375 1373.652344 1558.871094 1372.953125 1558.019531 C 1372.257812 1557.171875 1371.539062 1556.339844 1370.800781 1555.523438 C 1370.0625 1554.710938 1369.304688 1553.914062 1368.527344 1553.136719 C 1367.75 1552.359375 1366.953125 1551.601562 1366.140625 1550.863281 C 1365.324219 1550.128906 1364.496094 1549.410156 1363.644531 1548.710938 C 1362.796875 1548.015625 1361.929688 1547.339844 1361.046875 1546.683594 C 1360.164062 1546.027344 1359.265625 1545.394531 1358.351562 1544.785156 C 1357.4375 1544.171875 1356.511719 1543.585938 1355.570312 1543.019531 C 1354.625 1542.453125 1353.671875 1541.910156 1352.703125 1541.394531 C 1351.734375 1540.875 1350.75 1540.378906 1349.757812 1539.910156 C 1348.765625 1539.4375 1347.761719 1538.992188 1346.746094 1538.570312 C 1345.730469 1538.148438 1344.707031 1537.753906 1343.671875 1537.382812 C 1342.636719 1537.007812 1341.59375 1536.664062 1340.542969 1536.34375 C 1339.492188 1536.023438 1338.433594 1535.730469 1337.367188 1535.460938 C 1336.300781 1535.191406 1335.230469 1534.949219 1334.152344 1534.734375 C 1333.074219 1534.519531 1331.992188 1534.328125 1330.90625 1534.167969 C 1329.820312 1534.003906 1328.726562 1533.867188 1327.636719 1533.757812 C 1326.542969 1533.648438 1325.445312 1533.566406 1324.347656 1533.511719 C 1323.25 1533.453125 1322.152344 1533.425781 1321.054688 1533.425781 L 926.371094 1533.425781 C 925.269531 1533.421875 924.167969 1533.445312 923.066406 1533.496094 C 921.964844 1533.546875 920.863281 1533.625 919.765625 1533.730469 C 918.667969 1533.832031 917.574219 1533.964844 916.480469 1534.125 C 915.390625 1534.28125 914.304688 1534.46875 913.222656 1534.679688 C 912.136719 1534.890625 911.0625 1535.128906 909.992188 1535.394531 C 908.921875 1535.660156 907.855469 1535.949219 906.800781 1536.265625 C 905.746094 1536.585938 904.695312 1536.925781 903.65625 1537.296875 C 902.617188 1537.664062 901.585938 1538.058594 900.566406 1538.476562 C 899.546875 1538.894531 898.539062 1539.339844 897.539062 1539.808594 C 896.542969 1540.277344 895.554688 1540.769531 894.582031 1541.285156 C 893.605469 1541.804688 892.644531 1542.34375 891.699219 1542.90625 C 890.75 1543.472656 889.816406 1544.058594 888.898438 1544.667969 C 887.980469 1545.277344 887.074219 1545.910156 886.1875 1546.566406 C 885.300781 1547.21875 884.429688 1547.894531 883.574219 1548.59375 C 882.71875 1549.289062 881.882812 1550.007812 881.0625 1550.746094 C 880.242188 1551.484375 879.441406 1552.242188 878.660156 1553.019531 C 877.878906 1553.796875 877.117188 1554.59375 876.375 1555.40625 C 875.628906 1556.222656 874.90625 1557.054688 874.207031 1557.90625 C 873.503906 1558.757812 872.820312 1559.625 872.164062 1560.507812 C 871.503906 1561.390625 870.867188 1562.292969 870.25 1563.207031 C 869.632812 1564.121094 869.042969 1565.050781 868.472656 1565.996094 C 867.902344 1566.941406 867.355469 1567.898438 866.832031 1568.867188 C 866.308594 1569.839844 865.8125 1570.824219 865.335938 1571.820312 C 864.863281 1572.816406 864.414062 1573.820312 863.988281 1574.839844 C 863.5625 1575.855469 863.164062 1576.882812 862.789062 1577.921875 C 862.414062 1578.957031 862.066406 1580.003906 861.742188 1581.058594 C 861.417969 1582.113281 861.121094 1583.175781 860.847656 1584.242188 C 860.578125 1585.3125 860.332031 1586.386719 860.113281 1587.46875 C 859.898438 1588.550781 859.703125 1589.636719 859.539062 1590.726562 C 859.375 1591.816406 859.238281 1592.910156 859.125 1594.007812 C 859.015625 1595.105469 858.929688 1596.203125 858.871094 1597.304688 C 858.816406 1598.40625 858.785156 1599.507812 858.78125 1600.613281 L 858.78125 2244.734375 L 314.3125 2244.734375 C 312.730469 2244.816406 311.148438 2244.859375 309.566406 2244.863281 C 307.980469 2244.867188 306.398438 2244.832031 304.816406 2244.757812 C 303.234375 2244.683594 301.65625 2244.570312 300.078125 2244.421875 C 298.5 2244.269531 296.929688 2244.082031 295.363281 2243.851562 C 293.792969 2243.625 292.234375 2243.359375 290.679688 2243.058594 C 289.125 2242.753906 287.578125 2242.414062 286.039062 2242.035156 C 284.503906 2241.65625 282.976562 2241.238281 281.457031 2240.785156 C 279.941406 2240.332031 278.433594 2239.839844 276.941406 2239.3125 C 275.445312 2238.789062 273.96875 2238.222656 272.5 2237.625 C 271.035156 2237.027344 269.582031 2236.390625 268.148438 2235.722656 C 266.714844 2235.050781 265.296875 2234.347656 263.894531 2233.609375 C 262.492188 2232.871094 261.113281 2232.097656 259.75 2231.289062 C 258.386719 2230.484375 257.042969 2229.644531 255.71875 2228.773438 C 254.398438 2227.902344 253.097656 2226.996094 251.820312 2226.0625 C 250.542969 2225.125 249.289062 2224.160156 248.054688 2223.164062 C 246.824219 2222.167969 245.621094 2221.140625 244.4375 2220.085938 C 243.257812 2219.03125 242.101562 2217.945312 240.976562 2216.835938 C 239.847656 2215.722656 238.746094 2214.585938 237.671875 2213.417969 C 236.601562 2212.253906 235.558594 2211.0625 234.542969 2209.847656 C 233.527344 2208.628906 232.542969 2207.390625 231.589844 2206.125 C 230.636719 2204.859375 229.714844 2203.574219 228.824219 2202.265625 C 227.929688 2200.957031 227.074219 2199.625 226.246094 2198.273438 C 225.421875 2196.921875 224.628906 2195.550781 223.867188 2194.164062 C 223.109375 2192.773438 222.382812 2191.363281 221.691406 2189.9375 C 221 2188.515625 220.347656 2187.074219 219.726562 2185.617188 C 219.105469 2184.160156 218.519531 2182.6875 217.972656 2181.199219 C 217.421875 2179.714844 216.910156 2178.21875 216.4375 2176.707031 C 215.960938 2175.195312 215.523438 2173.675781 215.121094 2172.140625 C 214.71875 2170.609375 214.355469 2169.070312 214.027344 2167.519531 C 213.703125 2165.96875 213.414062 2164.410156 213.164062 2162.847656 C 212.914062 2161.285156 212.703125 2159.714844 212.527344 2158.140625 C 212.355469 2156.566406 212.21875 2154.988281 212.125 2153.40625 L 212.125 1290.417969 C 212.105469 1286.054688 212.511719 1281.730469 213.347656 1277.445312 C 214.183594 1273.160156 215.429688 1268.996094 217.085938 1264.957031 C 218.742188 1260.917969 220.78125 1257.082031 223.195312 1253.445312 C 225.609375 1249.808594 228.355469 1246.441406 231.433594 1243.347656 C 520.035156 955.28125 808.945312 667.886719 1098.164062 381.164062 C 1099.152344 380.203125 1100.179688 379.292969 1101.253906 378.429688 C 1102.332031 377.570312 1103.445312 376.765625 1104.597656 376.011719 C 1105.75 375.261719 1106.9375 374.566406 1108.160156 373.929688 C 1109.378906 373.296875 1110.628906 372.71875 1111.90625 372.207031 C 1113.183594 371.691406 1114.480469 371.242188 1115.800781 370.851562 C 1117.125 370.464844 1118.460938 370.140625 1119.8125 369.886719 C 1121.164062 369.628906 1122.527344 369.4375 1123.898438 369.3125 C 1125.269531 369.1875 1126.644531 369.128906 1128.019531 369.140625 C 1129.394531 369.148438 1130.769531 369.226562 1132.136719 369.367188 C 1133.507812 369.511719 1134.867188 369.71875 1136.214844 369.996094 C 1137.5625 370.273438 1138.894531 370.613281 1140.210938 371.019531 C 1141.527344 371.421875 1142.820312 371.890625 1144.089844 372.421875 C 1145.359375 372.953125 1146.601562 373.546875 1147.8125 374.199219 C 1149.027344 374.851562 1150.203125 375.5625 1151.347656 376.328125 C 1152.488281 377.097656 1153.59375 377.917969 1154.65625 378.792969 C 1155.71875 379.667969 1156.734375 380.589844 1157.710938 381.566406 L 2015.46875 1239.164062 C 2018.582031 1242.257812 2021.367188 1245.625 2023.816406 1249.269531 C 2026.269531 1252.914062 2028.339844 1256.761719 2030.03125 1260.816406 C 2031.722656 1264.867188 2033 1269.046875 2033.867188 1273.351562 C 2034.734375 1277.65625 2035.171875 1282.003906 2035.179688 1286.394531 Z M 2035.179688 1286.234375 ";
}

#emailIcon {
    -fx-shape: "M 1125 0 C 1106.6 0 1088.2 0.453125 1069.82 1.35547 C 1051.44 2.25781 1033.09 3.60938 1014.78 5.41406 C 996.465 7.21875 978.207 9.47266 960 12.1719 C 941.797 14.8711 923.672 18.0156 905.621 21.6055 C 887.57 25.1992 869.621 29.2266 851.77 33.6992 C 833.918 38.1719 816.188 43.0781 798.574 48.4219 C 780.965 53.7617 763.496 59.5352 746.168 65.7344 C 728.84 71.9336 711.676 78.5547 694.672 85.5977 C 677.668 92.6406 660.852 100.098 644.215 107.965 C 627.578 115.832 611.145 124.105 594.914 132.781 C 578.684 141.453 562.676 150.523 546.891 159.984 C 531.105 169.445 515.563 179.289 500.262 189.512 C 484.961 199.738 469.918 210.332 455.137 221.293 C 440.355 232.258 425.852 243.574 411.625 255.25 C 397.398 266.926 383.469 278.941 369.832 291.301 C 356.195 303.66 342.871 316.344 329.859 329.359 C 316.844 342.371 304.16 355.695 291.801 369.332 C 279.441 382.969 267.426 396.898 255.75 411.125 C 244.074 425.352 232.754 439.855 221.793 454.637 C 210.828 469.418 200.238 484.461 190.012 499.762 C 179.789 515.063 169.945 530.605 160.484 546.391 C 151.023 562.176 141.953 578.184 133.281 594.414 C 124.605 610.645 116.332 627.078 108.465 643.715 C 100.594 660.352 93.1406 677.172 86.0977 694.172 C 79.0547 711.176 72.4336 728.34 66.2344 745.668 C 60.0352 762.996 54.2617 780.465 48.9219 798.074 C 43.5781 815.688 38.6719 833.418 34.1992 851.27 C 29.7266 869.121 25.6953 887.07 22.1055 905.121 C 18.5156 923.172 15.3711 941.297 12.6719 959.5 C 9.96875 977.707 7.71875 995.965 5.91406 1014.28 C 4.10938 1032.59 2.75781 1050.94 1.85547 1069.32 C 0.953125 1087.7 0.5 1106.1 0.5 1124.5 C 0.5 1142.9 0.953125 1161.3 1.85547 1179.68 C 2.75781 1198.06 4.10938 1216.41 5.91406 1234.72 C 7.71875 1253.04 9.96875 1271.29 12.6719 1289.5 C 15.3711 1307.7 18.5156 1325.83 22.1055 1343.88 C 25.6953 1361.93 29.7266 1379.88 34.1992 1397.73 C 38.6719 1415.58 43.5781 1433.32 48.9219 1450.93 C 54.2617 1468.54 60.0352 1486 66.2344 1503.33 C 72.4336 1520.66 79.0547 1537.82 86.0977 1554.83 C 93.1406 1571.83 100.594 1588.65 108.465 1605.29 C 116.332 1621.92 124.605 1638.36 133.281 1654.59 C 141.953 1670.82 151.023 1686.82 160.484 1702.61 C 169.945 1718.39 179.789 1733.94 190.012 1749.24 C 200.238 1764.54 210.832 1779.58 221.793 1794.36 C 232.754 1809.14 244.074 1823.65 255.75 1837.88 C 267.426 1852.1 279.441 1866.03 291.801 1879.67 C 304.16 1893.3 316.844 1906.63 329.859 1919.64 C 342.871 1932.66 356.195 1945.34 369.832 1957.7 C 383.469 1970.06 397.398 1982.07 411.625 1993.75 C 425.852 2005.43 440.355 2016.75 455.137 2027.71 C 469.918 2038.67 484.961 2049.26 500.262 2059.49 C 515.563 2069.71 531.105 2079.55 546.891 2089.02 C 562.676 2098.48 578.684 2107.55 594.914 2116.22 C 611.145 2124.89 627.578 2133.17 644.215 2141.04 C 660.852 2148.91 677.668 2156.36 694.672 2163.4 C 711.676 2170.45 728.84 2177.07 746.168 2183.27 C 763.496 2189.46 780.965 2195.24 798.574 2200.58 C 816.188 2205.92 833.918 2210.83 851.77 2215.3 C 869.621 2219.77 887.57 2223.8 905.621 2227.39 C 923.672 2230.98 941.797 2234.13 960 2236.83 C 978.207 2239.53 996.465 2241.78 1014.78 2243.59 C 1033.09 2245.39 1051.44 2246.74 1069.82 2247.64 C 1088.2 2248.55 1106.6 2249 1125 2249 C 1143.4 2249 1161.8 2248.55 1180.18 2247.64 C 1198.56 2246.74 1216.91 2245.39 1235.22 2243.59 C 1253.54 2241.78 1271.79 2239.53 1290 2236.83 C 1308.2 2234.13 1326.33 2230.98 1344.38 2227.39 C 1362.43 2223.8 1380.38 2219.77 1398.23 2215.3 C 1416.08 2210.83 1433.81 2205.92 1451.43 2200.58 C 1469.04 2195.24 1486.5 2189.46 1503.83 2183.27 C 1521.16 2177.07 1538.32 2170.45 1555.33 2163.4 C 1572.33 2156.36 1589.15 2148.91 1605.79 2141.04 C 1622.42 2133.17 1638.86 2124.89 1655.09 2116.22 C 1671.32 2107.55 1687.32 2098.48 1703.11 2089.02 C 1718.89 2079.55 1734.44 2069.71 1749.74 2059.49 C 1765.04 2049.26 1780.08 2038.67 1794.86 2027.71 C 1809.64 2016.75 1824.15 2005.43 1838.38 1993.75 C 1852.6 1982.07 1866.53 1970.06 1880.17 1957.7 C 1893.8 1945.34 1907.13 1932.66 1920.14 1919.64 C 1933.16 1906.63 1945.84 1893.3 1958.2 1879.67 C 1970.56 1866.03 1982.57 1852.1 1994.25 1837.88 C 2005.93 1823.65 2017.24 1809.14 2028.21 1794.36 C 2039.17 1779.58 2049.76 1764.54 2059.99 1749.24 C 2070.21 1733.94 2080.05 1718.39 2089.52 1702.61 C 2098.98 1686.82 2108.05 1670.82 2116.72 1654.59 C 2125.39 1638.36 2133.67 1621.92 2141.54 1605.29 C 2149.4 1588.65 2156.86 1571.83 2163.9 1554.83 C 2170.95 1537.82 2177.57 1520.66 2183.77 1503.33 C 2189.96 1486 2195.74 1468.54 2201.08 1450.93 C 2206.42 1433.32 2211.33 1415.58 2215.8 1397.73 C 2220.27 1379.88 2224.3 1361.93 2227.89 1343.88 C 2231.48 1325.83 2234.63 1307.7 2237.33 1289.5 C 2240.03 1271.29 2242.28 1253.04 2244.09 1234.72 C 2245.89 1216.41 2247.24 1198.06 2248.14 1179.68 C 2249.05 1161.3 2249.5 1142.9 2249.5 1124.5 C 2249.5 1106.09 2249.04 1087.7 2248.13 1069.32 C 2247.23 1050.94 2245.87 1032.59 2244.06 1014.27 C 2242.25 995.957 2240 977.695 2237.29 959.488 C 2234.59 941.285 2231.44 923.156 2227.84 905.105 C 2224.25 887.055 2220.22 869.105 2215.74 851.25 C 2211.27 833.398 2206.36 815.668 2201.01 798.055 C 2195.67 780.445 2189.89 762.977 2183.69 745.648 C 2177.49 728.32 2170.87 711.152 2163.82 694.152 C 2156.78 677.148 2149.32 660.328 2141.45 643.691 C 2133.58 627.055 2125.3 610.621 2116.63 594.395 C 2107.95 578.164 2098.88 562.156 2089.42 546.371 C 2079.96 530.586 2070.11 515.043 2059.89 499.742 C 2049.66 484.438 2039.07 469.398 2028.11 454.617 C 2017.14 439.836 2005.82 425.332 1994.15 411.105 C 1982.48 396.879 1970.46 382.949 1958.1 369.313 C 1945.74 355.68 1933.05 342.355 1920.04 329.34 C 1907.03 316.328 1893.71 303.645 1880.07 291.285 C 1866.43 278.926 1852.5 266.91 1838.28 255.234 C 1824.05 243.563 1809.55 232.242 1794.77 221.281 C 1779.99 210.316 1764.95 199.727 1749.65 189.5 C 1734.35 179.277 1718.81 169.434 1703.02 159.977 C 1687.24 150.516 1671.23 141.445 1655.01 132.77 C 1638.78 124.098 1622.35 115.824 1605.71 107.957 C 1589.08 100.09 1572.26 92.6328 1555.26 85.5938 C 1538.26 78.5508 1521.1 71.9297 1503.77 65.7305 C 1486.45 59.5313 1468.98 53.7578 1451.38 48.418 C 1433.77 43.0742 1416.04 38.168 1398.19 33.6992 C 1380.34 29.2266 1362.39 25.1953 1344.34 21.6055 C 1326.3 18.0156 1308.17 14.8711 1289.97 12.1719 C 1271.77 9.46875 1253.52 7.21875 1235.2 5.41406 C 1216.89 3.60938 1198.55 2.25781 1180.17 1.35547 C 1161.79 0.453125 1143.4 0 1125 0 Z M 607.027 569.629 L 1642.97 569.629 C 1645.71 569.629 1648.44 569.688 1651.17 569.809 C 1653.91 569.93 1656.63 570.109 1659.36 570.352 C 1662.08 570.59 1664.8 570.895 1667.51 571.254 C 1670.22 571.617 1672.92 572.039 1675.61 572.52 C 1678.31 573.004 1680.99 573.543 1683.66 574.145 C 1686.32 574.746 1688.98 575.406 1691.61 576.125 C 1694.25 576.844 1696.88 577.621 1699.48 578.457 C 1702.08 579.293 1704.67 580.184 1707.23 581.137 C 1709.8 582.086 1712.34 583.09 1714.86 584.156 C 1717.38 585.219 1719.88 586.336 1722.34 587.512 C 1724.81 588.684 1727.26 589.91 1729.67 591.195 C 1732.09 592.477 1734.47 593.813 1736.83 595.199 C 1739.19 596.59 1741.51 598.027 1743.8 599.52 C 1746.09 601.012 1748.35 602.551 1750.58 604.145 C 1752.8 605.734 1754.99 607.375 1757.14 609.066 C 1759.29 610.754 1761.4 612.492 1763.48 614.273 C 1765.55 616.055 1767.58 617.883 1769.57 619.758 C 1771.57 621.629 1773.52 623.547 1775.43 625.504 C 1777.34 627.465 1779.2 629.465 1781.02 631.508 C 1782.84 633.551 1784.61 635.633 1786.33 637.754 C 1788.06 639.875 1789.74 642.035 1791.37 644.23 C 1793 646.426 1794.58 648.656 1796.11 650.922 C 1797.64 653.188 1799.12 655.488 1800.55 657.82 C 1801.98 660.148 1803.36 662.512 1804.68 664.906 C 1806.01 667.297 1807.28 669.719 1808.49 672.168 C 1809.71 674.617 1810.87 677.094 1811.98 679.594 C 1813.09 682.094 1814.14 684.617 1815.13 687.164 C 1816.13 689.715 1817.06 692.281 1817.95 694.871 C 1818.82 697.461 1819.65 700.066 1820.41 702.691 C 1821.18 705.32 1821.88 707.961 1822.53 710.617 C 1823.18 713.273 1823.77 715.945 1824.3 718.629 C 1824.82 721.313 1825.3 724.004 1825.7 726.707 C 1810.95 734.789 1241.67 1063 1204.07 1084.44 C 1201.07 1086.14 1198.02 1087.73 1194.91 1089.24 C 1191.81 1090.74 1188.67 1092.14 1185.47 1093.43 C 1182.28 1094.73 1179.05 1095.93 1175.78 1097.02 C 1172.52 1098.11 1169.21 1099.09 1165.88 1099.97 C 1162.55 1100.84 1159.19 1101.61 1155.81 1102.28 C 1152.43 1102.94 1149.03 1103.49 1145.61 1103.93 C 1142.2 1104.38 1138.77 1104.71 1135.33 1104.93 C 1131.89 1105.15 1128.45 1105.26 1125 1105.26 C 1121.55 1105.26 1118.11 1105.15 1114.67 1104.93 C 1111.23 1104.71 1107.8 1104.38 1104.39 1103.93 C 1100.97 1103.49 1097.57 1102.94 1094.19 1102.28 C 1090.81 1101.61 1087.45 1100.84 1084.12 1099.97 C 1080.79 1099.09 1077.49 1098.11 1074.22 1097.02 C 1070.95 1095.93 1067.72 1094.73 1064.53 1093.43 C 1061.33 1092.14 1058.19 1090.74 1055.09 1089.24 C 1051.98 1087.73 1048.93 1086.14 1045.93 1084.44 C 1009.04 1063.36 438.352 738.305 424.297 729.52 C 424.664 726.781 425.09 724.055 425.582 721.336 C 426.07 718.617 426.621 715.914 427.23 713.219 C 427.844 710.527 428.516 707.848 429.246 705.188 C 429.977 702.523 430.77 699.879 431.617 697.25 C 432.469 694.625 433.379 692.016 434.344 689.43 C 435.313 686.844 436.336 684.277 437.418 681.738 C 438.504 679.199 439.641 676.684 440.836 674.195 C 442.031 671.703 443.281 669.242 444.59 666.809 C 445.895 664.375 447.254 661.973 448.668 659.602 C 450.082 657.23 451.551 654.891 453.07 652.586 C 454.586 650.277 456.156 648.008 457.777 645.773 C 459.398 643.535 461.07 641.34 462.789 639.176 C 464.512 637.016 466.277 634.895 468.094 632.816 C 469.906 630.734 471.77 628.695 473.676 626.695 C 475.582 624.699 477.531 622.746 479.527 620.836 C 481.52 618.926 483.559 617.063 485.637 615.242 C 487.715 613.426 489.832 611.656 491.988 609.93 C 494.148 608.207 496.34 606.535 498.574 604.91 C 500.809 603.285 503.074 601.711 505.379 600.188 C 507.684 598.668 510.02 597.195 512.391 595.777 C 514.758 594.359 517.16 592.996 519.59 591.688 C 522.02 590.379 524.48 589.125 526.965 587.926 C 529.453 586.727 531.965 585.582 534.504 584.496 C 537.043 583.41 539.605 582.379 542.191 581.41 C 544.773 580.438 547.379 579.527 550.004 578.672 C 552.633 577.816 555.273 577.023 557.938 576.285 C 560.598 575.551 563.273 574.875 565.965 574.262 C 568.656 573.645 571.363 573.094 574.078 572.598 C 576.793 572.105 579.52 571.672 582.258 571.301 C 584.992 570.93 587.734 570.621 590.484 570.375 C 593.234 570.125 595.988 569.941 598.75 569.816 C 601.508 569.691 604.266 569.629 607.027 569.629 Z M 1827.81 1494.53 C 1827.81 1497.55 1827.73 1500.58 1827.58 1503.6 C 1827.43 1506.62 1827.2 1509.63 1826.9 1512.64 C 1826.6 1515.65 1826.23 1518.65 1825.78 1521.64 C 1825.34 1524.63 1824.82 1527.61 1824.22 1530.57 C 1823.63 1533.54 1822.96 1536.49 1822.23 1539.42 C 1821.49 1542.36 1820.68 1545.27 1819.8 1548.16 C 1818.92 1551.05 1817.97 1553.93 1816.95 1556.77 C 1815.93 1559.62 1814.84 1562.44 1813.68 1565.23 C 1812.52 1568.02 1811.3 1570.79 1810 1573.52 C 1808.71 1576.25 1807.35 1578.95 1805.92 1581.62 C 1804.49 1584.29 1803 1586.91 1801.45 1589.51 C 1799.89 1592.1 1798.27 1594.66 1796.59 1597.17 C 1794.91 1599.68 1793.17 1602.16 1791.37 1604.58 C 1789.57 1607.01 1787.71 1609.39 1785.79 1611.73 C 1783.87 1614.07 1781.89 1616.36 1779.86 1618.6 C 1777.83 1620.84 1775.75 1623.03 1773.61 1625.17 C 1771.47 1627.3 1769.28 1629.39 1767.04 1631.42 C 1764.8 1633.45 1762.51 1635.43 1760.17 1637.34 C 1757.84 1639.27 1755.45 1641.13 1753.02 1642.93 C 1750.6 1644.73 1748.13 1646.47 1745.61 1648.15 C 1743.1 1649.83 1740.54 1651.45 1737.95 1653 C 1735.36 1654.56 1732.73 1656.05 1730.06 1657.48 C 1727.39 1658.91 1724.7 1660.27 1721.96 1661.56 C 1719.23 1662.86 1716.46 1664.08 1713.67 1665.24 C 1710.88 1666.4 1708.06 1667.49 1705.21 1668.51 C 1702.37 1669.53 1699.5 1670.48 1696.61 1671.36 C 1693.71 1672.24 1690.8 1673.05 1687.86 1673.79 C 1684.93 1674.52 1681.98 1675.19 1679.02 1675.78 C 1676.05 1676.38 1673.07 1676.89 1670.08 1677.34 C 1667.09 1677.79 1664.09 1678.16 1661.08 1678.46 C 1658.07 1678.76 1655.06 1678.98 1652.04 1679.14 C 1649.02 1679.29 1646 1679.37 1642.97 1679.37 L 607.027 1679.37 C 604.004 1679.37 600.98 1679.29 597.961 1679.14 C 594.941 1678.98 591.926 1678.76 588.918 1678.46 C 585.906 1678.16 582.906 1677.79 579.918 1677.34 C 576.926 1676.89 573.949 1676.38 570.98 1675.78 C 568.016 1675.19 565.066 1674.52 562.137 1673.79 C 559.203 1673.05 556.289 1672.24 553.395 1671.36 C 550.504 1670.48 547.633 1669.53 544.785 1668.51 C 541.941 1667.49 539.121 1666.4 536.328 1665.24 C 533.535 1664.08 530.77 1662.86 528.039 1661.56 C 525.305 1660.27 522.605 1658.91 519.938 1657.48 C 517.273 1656.05 514.645 1654.56 512.051 1653 C 509.457 1651.45 506.902 1649.83 504.391 1648.15 C 501.875 1646.47 499.402 1644.73 496.977 1642.93 C 494.547 1641.13 492.164 1639.26 489.828 1637.34 C 487.488 1635.43 485.199 1633.45 482.961 1631.42 C 480.719 1629.39 478.531 1627.3 476.391 1625.17 C 474.254 1623.03 472.168 1620.84 470.137 1618.6 C 468.105 1616.36 466.133 1614.07 464.215 1611.73 C 462.293 1609.39 460.434 1607.01 458.633 1604.58 C 456.828 1602.16 455.09 1599.68 453.406 1597.17 C 451.727 1594.66 450.109 1592.1 448.555 1589.51 C 446.996 1586.91 445.508 1584.29 444.078 1581.62 C 442.652 1578.95 441.293 1576.25 439.996 1573.52 C 438.703 1570.79 437.477 1568.02 436.316 1565.23 C 435.16 1562.44 434.07 1559.62 433.047 1556.77 C 432.027 1553.93 431.078 1551.05 430.195 1548.16 C 429.316 1545.27 428.508 1542.36 427.77 1539.42 C 427.035 1536.49 426.367 1533.54 425.777 1530.57 C 425.184 1527.61 424.664 1524.63 424.219 1521.64 C 423.77 1518.65 423.398 1515.65 423.098 1512.64 C 422.797 1509.63 422.574 1506.62 422.422 1503.6 C 422.27 1500.58 422.191 1497.55 422.188 1494.53 L 422.188 813.504 L 1009.74 1148.75 C 1014.11 1151.24 1018.56 1153.59 1023.09 1155.79 C 1027.61 1157.99 1032.21 1160.05 1036.86 1161.95 C 1041.52 1163.86 1046.24 1165.61 1051.01 1167.21 C 1055.78 1168.81 1060.6 1170.26 1065.47 1171.55 C 1070.33 1172.84 1075.23 1173.96 1080.18 1174.94 C 1085.11 1175.91 1090.08 1176.72 1095.07 1177.37 C 1100.06 1178.02 1105.07 1178.5 1110.09 1178.83 C 1115.11 1179.16 1120.14 1179.32 1125.18 1179.32 C 1130.21 1179.32 1135.24 1179.16 1140.26 1178.83 C 1145.29 1178.5 1150.29 1178.02 1155.28 1177.37 C 1160.27 1176.72 1165.24 1175.91 1170.18 1174.94 C 1175.12 1173.96 1180.02 1172.84 1184.88 1171.55 C 1189.75 1170.26 1194.57 1168.81 1199.34 1167.21 C 1204.11 1165.61 1208.83 1163.86 1213.49 1161.95 C 1218.14 1160.05 1222.74 1157.99 1227.26 1155.79 C 1231.79 1153.59 1236.24 1151.24 1240.61 1148.75 L 1827.81 810.695 Z M 1827.81 1494.53";
}

#phoneIcon {
    -fx-shape: "M 2221.683594 1650.992188 C 2238.101562 1694.867188 2247.679688 1741.988281 2249.128906 1791.285156 C 2249.484375 1795.976562 2249.484375 1800.671875 2249.484375 1805.546875 C 2249.484375 2050.382812 2050.871094 2248.988281 1806.035156 2248.988281 C 808.84375 2248.988281 0.5 1440.648438 0.5 443.441406 C 0.5 198.617188 199.109375 0.00390625 443.941406 0.00390625 C 448.816406 0.00390625 453.511719 0.00390625 458.207031 0.359375 C 507.496094 1.808594 554.800781 11.386719 598.671875 27.804688 L 765.148438 748.585938 C 765.148438 748.945312 764.96875 749.121094 764.605469 749.304688 L 459.285156 886.523438 L 458.382812 886.886719 C 598.496094 1313.535156 935.953125 1650.992188 1362.601562 1791.109375 L 1362.964844 1790.199219 L 1500.367188 1484.703125 L 2221.683594 1650.992188 ";
}

#quantityIcon {
    -fx-shape: "M 2209.34 1767.07 L 522.59 1767.07 C 500.469 1767.07 482.43 1749.03 482.43 1726.91 L 482.43 120.48 C 482.43 54.2813 428.148 0 361.945 0 L 40.6602 0 C 29.8359 0 20.1094 4.07813 12.8945 11.6094 C 3.79297 20.5508 -0.285156 31.6875 0.5 43.7695 C 2.53906 63.8477 22.1484 80.3203 45.0547 80.3203 L 321.785 80.3203 C 366.023 80.3203 402.105 116.402 402.105 160.645 L 402.105 1767.07 C 402.105 1811.31 438.188 1847.39 482.43 1847.39 L 2209.34 1847.39 C 2231.46 1847.39 2249.5 1829.35 2249.5 1807.23 C 2249.5 1785.11 2231.46 1767.07 2209.34 1767.07 M 1727.41 602.41 C 1737.92 602.41 1747.96 606.488 1755.96 614.02 L 1807.73 666.262 L 1807.73 481.93 L 1647.09 481.93 L 1647.09 666.262 L 1698.86 614.02 C 1706.86 606.488 1716.9 602.41 1727.41 602.41 M 1285.64 481.93 L 1084.84 481.93 L 1084.84 763.055 C 1084.84 779.055 1075.27 793.957 1059.89 799.922 C 1055.19 802.43 1049.86 803.215 1044.68 803.215 C 1034.17 803.215 1023.81 799.137 1016.13 791.605 L 924.195 699.203 L 832.266 791.605 C 820.5 802.742 803.242 806.508 788.496 799.922 C 773.121 793.957 763.555 779.055 763.555 763.055 L 763.555 481.93 L 562.75 481.93 L 562.75 1044.18 L 1285.64 1044.18 L 1285.64 481.93 M 1698.86 1256.59 C 1706.86 1249.06 1716.9 1244.98 1727.41 1244.98 C 1737.92 1244.98 1747.96 1249.06 1755.96 1256.59 L 1807.73 1308.83 L 1807.73 1124.5 L 1647.09 1124.5 L 1647.09 1308.83 L 1698.86 1256.59 2088.86 481.93 L 1888.05 481.93 L 1888.05 763.055 C 1888.05 779.055 1878.48 793.957 1863.11 799.922 C 1858.4 802.43 1853.07 803.215 1847.89 803.215 C 1837.38 803.215 1827.03 799.137 1819.34 791.605 L 1727.41 699.203 L 1635.48 791.605 C 1623.71 802.742 1606.46 806.508 1591.71 799.922 C 1576.34 793.957 1566.77 779.055 1566.77 763.055 L 1566.77 481.93 L 1365.96 481.93 L 1365.96 1044.18 L 2088.86 1044.18 L 2088.86 481.93 M 2088.86 1124.5 L 1888.05 1124.5 L 1888.05 1405.63 C 1888.05 1421.63 1878.48 1436.53 1863.11 1442.49 C 1858.4 1445 1853.07 1445.79 1847.89 1445.79 C 1837.38 1445.79 1827.03 1441.71 1819.34 1434.18 L 1727.41 1341.78 L 1635.48 1434.18 C 1623.71 1445.32 1606.46 1449.08 1591.71 1442.49 C 1576.34 1436.53 1566.77 1421.63 1566.77 1405.63 L 1566.77 1124.5 L 1365.96 1124.5 L 1365.96 1686.75 L 2088.86 1686.75 L 2088.86 1124.5 M 1285.64 1124.5 L 1084.84 1124.5 L 1084.84 1405.63 C 1084.84 1421.63 1075.27 1436.53 1059.89 1442.49 C 1055.19 1445 1049.86 1445.79 1044.68 1445.79 C 1034.17 1445.79 1023.81 1441.71 1016.13 1434.18 L 924.195 1341.78 L 832.266 1434.18 C 820.5 1445.32 803.242 1449.08 788.496 1442.49 C 773.121 1436.53 763.555 1421.63 763.555 1405.63 L 763.555 1124.5 L 562.75 1124.5 L 562.75 1686.75 L 1285.64 1686.75 L 1285.64 1124.5 M 895.645 1256.59 C 903.645 1249.06 913.688 1244.98 924.195 1244.98 C 934.707 1244.98 944.746 1249.06 952.75 1256.59 L 1004.52 1308.83 L 1004.52 1124.5 L 843.875 1124.5 L 843.875 1308.83 L 895.645 1256.59 M 843.875 2008.04 C 888.113 2008.04 924.195 2044.12 924.195 2088.36 C 924.195 2132.6 888.113 2168.68 843.875 2168.68 C 799.637 2168.68 763.555 2132.6 763.555 2088.36 C 763.555 2044.12 799.637 2008.04 843.875 2008.04 Z M 843.875 2249 C 932.668 2249 1004.52 2177.15 1004.52 2088.36 C 1004.52 1999.57 932.668 1927.71 843.875 1927.71 C 755.082 1927.71 683.23 1999.57 683.23 2088.36 C 683.23 2177.15 755.082 2249 843.875 2249 M 1807.73 2008.04 C 1851.97 2008.04 1888.05 2044.12 1888.05 2088.36 C 1888.05 2132.6 1851.97 2168.68 1807.73 2168.68 C 1763.49 2168.68 1727.41 2132.6 1727.41 2088.36 C 1727.41 2044.12 1763.49 2008.04 1807.73 2008.04 Z M 1807.73 2249 C 1896.52 2249 1968.38 2177.15 1968.38 2088.36 C 1968.38 1999.57 1896.52 1927.71 1807.73 1927.71 C 1718.94 1927.71 1647.09 1999.57 1647.09 2088.36 C 1647.09 2177.15 1718.94 2249 1807.73 2249 M 2088.86 481.93 L 1888.05 481.93 L 1888.05 763.055 C 1888.05 779.055 1878.48 793.957 1863.11 799.922 C 1858.4 802.43 1853.07 803.215 1847.89 803.215 C 1837.38 803.215 1827.03 799.137 1819.34 791.605 L 1727.41 699.203 L 1635.48 791.605 C 1623.71 802.742 1606.46 806.508 1591.71 799.922 C 1576.34 793.957 1566.77 779.055 1566.77 763.055 L 1566.77 481.93 L 1365.96 481.93 L 1365.96 1044.18 L 2088.86 1044.18 L 2088.86 481.93 M 924.195 602.41 C 934.707 602.41 944.746 606.488 952.75 614.02 L 1004.52 666.262 L 1004.52 481.93 L 843.875 481.93 L 843.875 666.262 L 895.645 614.02 C 903.645 606.488 913.688 602.41 924.195 602.41";
}

#totalPriceIcon {
    -fx-shape: "M 2142.66 438.492 C 2091.23 489.922 1937.26 602.023 1790.04 686.918 C 1614.35 788.238 1488.15 827.414 1452.46 791.719 C 1444.32 783.57 1440.12 770.648 1439.61 753.547 C 1442.39 754.797 1445.14 756.16 1447.84 757.633 C 1457.95 763.125 1467.48 770.133 1476.04 778.707 C 1481.61 784.285 1486.52 790.27 1490.81 796.563 C 1532.5 797.902 1609.18 775.426 1729.1 711.516 L 1715.11 619.793 C 1708.79 578.406 1676.34 545.93 1634.95 539.633 L 1528.26 523.359 L 1519.87 522.066 C 1531.21 500.348 1543.64 477.688 1557.23 454.094 C 1642.14 306.855 1754.21 152.898 1805.64 101.469 C 1850.66 56.4453 1910.5 31.668 1974.16 31.668 C 2037.79 31.668 2097.64 56.4453 2142.66 101.469 C 2235.57 194.375 2235.57 345.586 2142.66 438.492 Z M 2163.93 80.1953 C 2113.24 29.5039 2045.83 1.57813 1974.16 1.57813 C 1902.46 1.57813 1835.06 29.5039 1784.37 80.1953 C 1731.6 132.965 1617.28 289.781 1531.19 439.07 C 1515.34 466.551 1501.1 492.578 1488.36 517.266 L 1479.87 515.973 L 1084.87 455.703 C 1054.78 451.125 1024.31 461.125 1002.8 482.645 L 35.5625 1449.96 C -1.82422 1487.33 -1.82422 1547.91 35.5625 1585.28 L 669.551 2219.32 C 706.918 2256.69 767.473 2256.69 804.859 2219.32 L 1772.09 1252 C 1793.61 1230.49 1803.61 1200.02 1799.01 1169.93 L 1736.49 759.934 C 1640.4 810.047 1564.45 837.547 1509.78 841.988 C 1517.39 880.852 1506.14 922.684 1476.04 952.797 C 1427.98 1000.88 1350.04 1000.88 1301.98 952.797 C 1253.9 904.715 1253.9 826.789 1301.98 778.707 C 1329.16 751.496 1365.95 739.707 1401.46 743.301 C 1404.21 743.57 1406.95 743.949 1409.7 744.395 C 1408.76 774.801 1415.93 797.703 1431.19 812.969 C 1445.61 827.391 1466.77 834.578 1494.61 834.578 C 1560.79 834.578 1664.68 793.93 1805.06 712.965 C 1954.34 626.891 2111.14 512.559 2163.93 459.766 C 2268.57 355.117 2268.57 184.844 2163.93 80.1953";
}

#sellPriceIcon {
    -fx-shape: "M 795.441 788.895 L 795.441 680.047 C 795.441 668.262 805.031 658.676 816.816 658.676 L 923.289 658.676 C 935.277 658.676 944.664 668.262 944.664 680.047 L 944.664 786.496 C 1053.54 793.688 1141.23 878.969 1150.62 985.418 C 1150.62 997.402 1141.23 1006.79 1129.45 1006.79 L 1022.77 1006.79 C 1013.38 1006.79 1003.79 999.598 1001.6 990.211 C 994.406 957.059 963.641 931.094 930.48 931.094 L 835.793 931.094 C 781.258 931.094 729.121 971.238 724.527 1025.56 C 717.336 1089.47 767.074 1144 831 1144 L 899.719 1144 C 1032.36 1144 1150.62 1241.06 1165 1373.68 C 1179.19 1513.28 1077.31 1634.11 944.664 1650.69 L 944.664 1759.54 C 944.664 1771.52 935.277 1780.9 923.289 1780.9 L 816.816 1780.9 C 805.031 1780.9 795.441 1771.52 795.441 1759.54 L 795.441 1653.08 C 686.57 1645.89 598.875 1560.81 589.484 1454.16 C 587.09 1442.38 598.875 1432.79 610.859 1432.79 L 717.336 1432.79 C 726.922 1432.79 736.313 1439.98 738.711 1449.37 C 745.699 1482.52 776.664 1508.69 809.625 1508.69 L 904.512 1508.69 C 958.848 1508.69 1010.99 1468.34 1015.78 1414.02 C 1022.77 1350.11 973.031 1295.59 909.105 1295.59 L 828.602 1295.59 C 679.379 1295.59 561.121 1167.76 575.305 1016.18 C 587.09 895.543 681.777 807.867 795.441 788.895 Z M 158.598 1260.04 L 326.598 1260.04 L 326.598 2055.52 C 326.598 2161.97 414.293 2249.65 520.766 2249.65 L 1216.94 2249.65 C 1323.62 2249.65 1411.11 2161.97 1411.11 2055.52 L 1411.11 1260.04 L 1579.31 1260.04 C 1704.77 1260.04 1778.28 1115.64 1702.37 1016.18 L 992.008 62.1133 C 930.48 -20.7695 807.426 -20.7695 745.699 62.1133 L 35.3438 1016.18 C -40.3672 1118.03 30.75 1260.04 158.598 1260.04"
}

#costPriceIcon {
    -fx-shape: "M 942.684 1460.75 L 942.684 1569.6 C 942.684 1581.38 933.094 1590.97 921.309 1590.97 L 814.836 1590.97 C 802.848 1590.97 793.461 1581.38 793.461 1569.6 L 793.461 1463.15 C 684.59 1455.96 596.895 1370.68 587.504 1264.23 C 587.504 1252.25 596.895 1242.86 608.68 1242.86 L 715.352 1242.86 C 724.742 1242.86 734.328 1250.05 736.527 1259.43 C 743.719 1292.59 774.48 1318.55 807.645 1318.55 L 902.332 1318.55 C 956.867 1318.55 1009 1278.41 1013.6 1224.09 C 1020.79 1160.18 971.051 1105.65 907.125 1105.65 L 838.406 1105.65 C 705.766 1105.65 587.504 1008.59 573.121 875.973 C 558.938 736.367 660.816 615.539 793.461 598.961 L 793.461 490.113 C 793.461 478.129 802.848 468.742 814.836 468.742 L 921.309 468.742 C 933.094 468.742 942.684 478.129 942.684 490.113 L 942.684 596.563 C 1051.55 603.754 1139.25 688.836 1148.64 795.484 C 1151.04 807.27 1139.25 816.855 1127.27 816.855 L 1020.79 816.855 C 1011.2 816.855 1001.81 809.664 999.414 800.277 C 992.426 767.125 961.461 740.961 928.5 740.961 L 833.613 740.961 C 779.277 740.961 727.137 781.305 722.344 835.629 C 715.352 899.539 765.094 954.063 829.02 954.063 L 909.523 954.063 C 1058.75 954.063 1177 1081.88 1162.82 1233.47 C 1151.04 1354.1 1056.35 1441.78 942.684 1460.75 Z M 1579.53 989.613 L 1411.53 989.613 L 1411.53 194.129 C 1411.53 87.6758 1323.83 0 1217.36 0 L 521.184 0 C 414.508 0 327.012 87.6758 327.012 194.129 L 327.012 989.613 L 158.813 989.613 C 33.3594 989.613 -40.1523 1134.01 35.7578 1233.47 L 746.117 2187.54 C 807.645 2270.42 930.695 2270.42 992.426 2187.54 L 1702.78 1233.47 C 1778.49 1131.61 1707.38 989.613 1579.53 989.613"
}

.quantity-icon {
    -icon-paint: #BD8F68;
    -fx-background-color: -icon-paint !important;
    -size: 18;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

.costPrice-icon {
    -icon-paint: #EF5F57; // to set the color
    -fx-background-color: -icon-paint !important;
    -size: 18; // to set the icon size
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

.sellPrice-icon {
    -icon-paint: #4DA24D; // to set the color
    -fx-background-color: -icon-paint !important;
    -size: 18; // to set the icon size
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

.date-icon {
    -icon-paint: #BD8F68;
    -fx-background-color: -icon-paint;
    -size: 18;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

.icon-button {
    -icon-paint: #D9DCFF;
    -fx-background-color: -icon-paint;
    -size: 18;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

.total-price-icon {
    -icon-paint: #4DA24D; // to set the color
    -fx-background-color: -icon-paint !important;
    -size: 18; // to set the icon size
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

/*

 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: #FFF2E7;
}

.scroll-pane > .viewport {
    -fx-background-color: #FFF2E7;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #878787;
    -fx-border-width: 2px;
}

#resultDisplay .scroll-pane {
    -fx-background-color: #E8E8E8;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

#resultDisplay .scroll-bar > .thumb{
    -fx-background-color: #878787 !important;
    -fx-background-insets: 6px;
}

#itemListView .scroll-bar > .thumb{
    -fx-background-color: #FF6C64 !important;
    -fx-background-insets: 6px;
}

#orderListView .scroll-pane > .viewport {
    -fx-background-radius: 15px;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #707BE3;
    -fx-background-insets: 6px;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.status-labels {
    -fx-background-radius: 50;
    -fx-font-family: Poppins;
    -fx-font-weight: 900;
    -fx-padding: 3 15 5 15;
    -fx-background-insets: 2 3 4 3;
}

.date-container {
    -fx-background-color: #FFF2E7;
    -fx-background-radius: 50;
    -fx-padding: 4 15 6 15;
    -fx-background-insets: 2 3 4 3;
}

.light-green-container {
    -fx-background-color: #A9FFA9;
    -fx-background-radius: 50;
    -fx-padding: 4 15 6 15;
    -fx-background-insets: 2 3 4 3;
}

.date-label {
    -fx-wrap-text: true;
    -fx-text-fill: #BD8F68;
    -fx-font-family: Poppins;
    -fx-font-weight: 900;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-radius: 10px;
    -fx-border-width: 1;
    -fx-font-family: "Poppins";
    -fx-font-size: 13pt;
    -fx-text-fill: #878787;
}

#descriptionBox {
    -fx-padding: 2px;
    -fx-background-insets: 2 10 10 0;
    -fx-background-radius: 10px;
}

#description {
    -fx-text-fill: #FFEDEC;
    -fx-background-insets: 0 5 0 5 ;
    -fx-padding: 5 12.5 5 5 ;
    -fx-font-size: 18 !important;
}

#itemListView {
    -fx-background-insets: 0;
    -fx-background-color: #FFEDEC;
    -fx-background-radius: 15px;
    -fx-padding: 20px 10px;
    -fx-border-color: #FF6C64;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
}

#itemListView .list-cell:empty {
    -fx-padding: 2px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

#itemListView .list-cell:filled {
    -fx-background-color: #FF6C64;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px, 5px;
}


#itemListView .list-view {
    -fx-padding: 3px;
}

#itemListView .list-cell {
    -fx-padding: 2px;
    -fx-background-color: transparent, -fx-background;
    -fx-background-insets: 0px, 2px;
}

#orderListView .list-cell:empty {
    -fx-padding: 2px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

#orderListView {
    -fx-background-insets: 0;
    -fx-background-color: #D9DCFF;
    -fx-background-radius: 15px;
    -fx-padding: 20px 10px;
    -fx-border-color: #707BE3;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
}

#orderListView .list-cell:filled {
    -fx-background-color: #707BE3;
    -fx-background-radius: 15px;
    -fx-background-insets: 0;
}

#orderListView .list-view {
    -fx-padding: 3px;
}

#placeHolder {
    -fx-background-color: #FFF2E7;
}

#quantity {
    -fx-font-weight: 900 !important;
    -fx-text-fill: #BD8F68;
    -fx-font-family: Poppins;
    -fx-font-size: 16px;
}

#sellPrice {
    -fx-font-weight: 900 !important;
    -fx-text-fill: #4DA24D;
    -fx-font-family: Poppins;
    -fx-font-size: 16px;
}

#costPrice {
    -fx-font-weight: 900 !important;
    -fx-text-fill: #EF5F57;
    -fx-font-family: Poppins;
    -fx-font-size: 16px;
}

#totalOrderPrice {
    -fx-font-weight: 900 !important;
    -fx-text-fill: #4DA24D;
    -fx-font-family: Poppins;
}

#resultPadding {
    -fx-background-color: #FFF2E7;
    -fx-padding: 10px;
}

#resultDisplayPlaceholder {
    -fx-background-color: #E8E8E8;
    -fx-border-color: #878787;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

#resultDisplay{
    -fx-background-color: #E8E8E8;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 10px;
}

#resultDisplay .content {
    -fx-background-color: #E8E8E8;
    -fx-wrap-text: true;
    -fx-background-radius: 10px;
}

#resultDisplay .content .text {
    -fx-text-alignment: justify;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #5d7ee3;
    -fx-padding: 3 10 5 10;
    -fx-background-insets: 0 0 2 0;
    -fx-border-radius: 2;
    -fx-background-radius: 20;
    -fx-font-size: 14;
    -fx-font-family: "Poppins";
    -fx-wrap-text: true;
}
