@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.background {
    -fx-background-color: derive(#1d1d1d, 20%);
    background-color: #383838; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Poppins";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #FFF2E7;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 10px;
}

.list-cell:filled:even {
    -fx-background-color: #3c3e3f;
}

.list-cell:filled:odd {
    -fx-background-color: #515658;
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #707BE3;
    -fx-border-width: 0;
    -fx-font-family: "Poppins";
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label_item {
    -fx-font-family: "Poppins";
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-text-fill: #FFEDEC !important;
}

.cell_small_label_item {
    -fx-font-family: "Poppins";
    -fx-font-size: 20px;
    -fx-font-weight: 600;
    -fx-text-fill: #FFEDEC !important;
}

.cell_big_label_order {
    -fx-font-family: "Poppins";
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-text-fill: #E9EBFF !important;
}

.cell_small_label_order {
    -fx-font-family: "Poppins";
    -fx-font-weight: MEDIUM; /* medium weight */
    -fx-font-size: 20px;
    -fx-text-fill: #E9EBFF !important;
}

/** color of the `Enter command here...`*/
.stack-pane {
    -fx-background-color: #E8E8E8;
    -fx-background-radius: 10px;
    -fx-border-color: #878787;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.pane-with-border {
    -fx-background-color: #FFF2E7;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #FFF2E7;
}

.status-bar {
    -fx-background-color: #FFF2E7;
}

.result-display {
    -fx-background-color: #FFF2E7;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: #E8E8E8;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: transparent;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #3C3C3C;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Poppins";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.menu .left-container {
    -fx-background-color: #FFF2E7;
}

.inventory-heading {
    -fx-font-size: 28pt;
    -fx-font-family: "Poppins";
    -fx-text-fill: #FF6C64;
    -fx-font-weight: 900;
    -fx-opacity: 1;
    -fx-padding: 2px;
}

.order-heading {
    -fx-font-size: 28pt;
    -fx-font-family: "Poppins";
    -fx-text-fill: #707BE3;
    -fx-font-weight: 900;
    -fx-opacity: 1;
    -fx-padding: 2px;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: #FFF2E7;
}

.scroll-pane > .viewport {
    -fx-background-color: #FFF2E7;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #878787;
    -fx-border-width: 2px;
}

#itemListView .scroll-bar > .thumb{
    -fx-background-color: #FF6C64 !important;
    -fx-background-insets: 6px;
}

#orderListView .scroll-pane > .viewport {
    -fx-background-radius: 15px;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #707BE3;
    -fx-background-insets: 6px;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-padding: 5px;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-radius: 10px;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#itemListView {
    -fx-background-insets: 0;
    -fx-background-color: #FFDAD8;
    -fx-background-radius: 15px;
    -fx-padding: 20px 10px;
    -fx-border-color: #FF6C64;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
}


#itemListView .list-cell {
    -fx-background-insets: 0px, 5px;
    -fx-padding: 2px;
}

#itemListView .list-cell:empty {
    -fx-padding: 2px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

#itemListView .list-cell:filled {
    -fx-background-color: #FF6C64;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px, 5px;
}


#itemListView .list-view {
    -fx-padding: 3px;
}

#itemListView .list-cell {
    -fx-padding: 2px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 0px, 2px ;
}

#itemListView .list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}

#orderListView {
    -fx-background-insets: 0;
    -fx-background-color: #D9DCFF;
    -fx-background-radius: 15px;
    -fx-padding: 20px 10px;
    -fx-border-color: #707BE3;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
}

#orderListView .list-cell:filled {
    -fx-background-color: #707BE3;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px, 5px;
}

#orderListView .list-view {
    -fx-padding: 3px;
}

#orderListView .list-cell {
    -fx-padding: 2px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 0px, 2px ;
}

#orderListView .list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}

#placeHolder {
    -fx-background-color: #FFF2E7;
}

#resultDisplay .content {
    -fx-background-color: #E8E8E8;
    -fx-border-radius: 10px;
    -fx-border-color: #878787;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-text-fill: black;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
