* {
    -main-background: #13315C;
    -second-background: #0B2545;
    -contrast-background: #8DA9C4;
    -text: #738979;
}

#lockWindowBackground {
    -fx-background-color: -main-background;
}

#headerText, #passwordText, #error {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#unlockBtn {
    -fx-background-color: -contrast-background;
    -fx-text-fill: white;
}

#password {
    -fx-background-color: -second-background;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
}
