* {
  -main-background: #fafafa;
  -second-background: #d2d3db;
  -contrast-background: #484b6a;
  -text: #484b6a;
}

.background {
    -fx-background-color: -main-background;
    background-color: -main-background; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent transparent #EEF4ED;
}

.split-pane {
    -fx-background-color: #EEF4ED;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #EEF4ED;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #3c3e3f;
}

.list-cell:filled:odd {
    -fx-background-color: #515658;
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: -text;
}

.cell_big_label {
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-size: 22px;
    -fx-text-fill: -text;
}

.cell_small_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #D2D3DB;
    -fx-font-size: 16px;
    -fx-max-height: Infinity;
}

.header_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: -text;
    -fx-alignment: center-left;
}

.header_box_background {
    -fx-background-color: #e4e5f1;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.header_box_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: 	-text;
}

.stack-pane {
     -fx-background-color: -main-background;
}

.pane-with-border {
     -fx-background-color: -main-background;
     -fx-border-color: -main-background;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.result-display {
    -fx-background-color: -main-background;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: 	-text;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -text;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: -main-background;
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: -text;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.context-menu {
    -fx-background-color: -main-background;
}

.context-menu .label {
    -fx-text-fill: -text;
}

.menu-bar {
    -fx-background-color: -main-background;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -text;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}


/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #D2D3DB;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: -second-background;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: -text;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: -second-background;
  -fx-text-fill: derive(-fx-focus-color, 30%);
}

.button:focused {
    -fx-border-color: -main-background, -main-background;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: -text;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: -text;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -text;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: -contrast-background;
    -fx-text-fill: -text;
}

.scroll-bar {
    -fx-background-color: -main-background;
}

.scroll-bar .thumb {
    -fx-background-color: #D9D9D9;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: -second-background;
    -fx-border-width: 0;
    -fx-padding: 3 5 3 5;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: -text;
    -fx-background-color: -second-background;
}

#commandTextField {
    -fx-background-color: -second-background;
    -fx-background-insets: 0;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: -text;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay {
    -fx-text-fill: -text;
}

#resultDisplay .content {
    -fx-background-color: -second-background;
    -fx-background-radius: 0;

}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: -main-background;
    -fx-background-color: -contrast-background;
    -fx-padding: 3 5 3 5;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-font-size: 14;
}

#commandBoxPlaceholder, #resultDisplayPlaceholder, #personListPanelPlaceholder, #statusBarFooter {
    -fx-background-color: -main-background;
}

#placeHolder {
    -fx-background-color: -main-background;
}

#personListViewBackground {
    -fx-background-color: -main-background;
}

#address, #email {
     -fx-font-family: "Segoe UI Semibold";
     -fx-text-fill: -text;
     -fx-font-size: 16px;
}

#income, #meetingDate {
     -fx-font-family: "Segoe UI Semibold";
     -fx-text-fill: -main-background;
     -fx-font-size: 16px;
}

#phone {
     -fx-font-family: "Segoe UI Semibold";
     -fx-text-fill: -text;
     -fx-font-size: 20px;
}

#personDetails {
    -fx-background-color: #EEF4ED;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

#personDetails2 {
    -fx-background-color: #EEF4ED;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

#personListView, #hbox {
    -fx-background-color: -main-background;
}

#btnChangeTheme {
    -fx-background-color: -main-background;
    -fx-background-color: -main-background;
}

.cell_label_tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

.cell_label_tags .label{
    -fx-text-fill: -main-background;
    -fx-background-color: -contrast-background;
    -fx-padding: 3 5 3 5;
    -fx-background-radius: 7;
    -fx-font-size: 14;
    -fx-border-radius: 7;
}

#risk, #plan, #plans .label, #notes, #note{
    -fx-text-fill: -contrast-background;
}

#plans .label, #notes .label, #emptyLabel {
    -fx-text-fill: -text;
    -fx-padding: 3 5 3 5;
    -fx-font-size: 16;
    -fx-word-wrap: break-word;
    -fx-wrap-text: true;
}

#scroller, #portfolioGridPane {
    -fx-background-color: transparent;
    -fx-border-color: -second-background;
}






